[2017-11-28 17:41] AbyssDeep opened #1 "Lecture Start- Lecture End"
**Please,** implement **Lecture Start** and **Lecture End**, I **need** it

[2017-11-29 05:48] FaisalUmair commented on #1
Will be added in next release.

[2017-12-02 06:45] FaisalUmair commented on #1
This feature is now available in the [latest](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest) release.

[2017-12-04 17:04] m4dbra1n opened #2 "Translation, download path selection and stop/resume"
Hi,

I'm an Italian user and I've discovered this little piece of bits just today :D

As from the title I have 3 requests:
- Italian translation, I can help with that ;)
- Download path selection, to let the user choose where to download the courses
- Stop/resume download, if possible, maybe with external downloader (like wget, curl, etc.)

Thanks and keep up the good work! :D

[2017-12-04 17:28] FaisalUmair commented on #2
Hi, welcome to this project and thank you for taking the time to help improve this software.

As for the progress, I am currently working on the Stop/Pause/Resume functions. I recently upgraded to a new download manager package which allows to pause and resume downloads. However, I have not implemented the pause and resume functionality from the package yet as I wanted to give it a little more tim

[2017-12-05 07:04] shohan4556 opened #3 "Download location"
Which location the videos are downloading ? Can I set location ?

[2017-12-05 07:18] FaisalUmair commented on #3
The option to set download location is currently not available. By default the lectures will be downloaded in `Downloads` folder. The `Downloads` folder usually lies inside the `Home Directory` of the user.

I am adding the option to select download path soon along with some other features. Check #2

[2017-12-06 15:30] #3 closed

[2017-12-06 15:33] FaisalUmair commented on #3
#### Added to source code, will be available in next release.

![Download Location Screenshot](https://user-images.githubusercontent.com/18553256/33669494-a3f588b0-dac8-11e7-826c-5fae97ae4e3c.png)

[2017-12-06 15:43] FaisalUmair commented on #2
The Download location option has been added in https://github.com/FaisalUmair/udemy-downloader-gui/commit/ae7b74aeb28d7fce97d405c2a79b12931e2afa3b , will be available in next release
![screen shot 2017-12-06 at 8 56 46 pm](https://user-images.githubusercontent.com/18553256/33670085-2a28bab4-daca-11e7-864f-937f53872c43.png)

[2017-12-06 17:39] AbyssDeep commented on #1
You're the best, I love!, thanks

[2017-12-10 00:24] dgharami opened #4 "I have about 48 courses, but i am getting listed only 12 course."

[2017-12-10 04:32] FaisalUmair commented on #4
Fixed in https://github.com/FaisalUmair/udemy-downloader-gui/commit/b92086ce54a70ca45e9fbdeb29eca62ad7e0ebb0 will be available in next release. However you can follow the Developer instruction in the readme file to use this feature now.

Thanks for reporting 👍

[2017-12-11 14:03] #4 closed

[2017-12-14 05:47] aditiapratama opened #5 "Only show max 12 courses randomly"
Hello I have more than 200 courses on Udemy platform, and it seems your apps only show 12 maximum. Is it intentionally or can we search using keyword or list specific course that we want to download?

Thank a lot for awesome apps.

[2017-12-14 06:03] FaisalUmair commented on #5
Duplicate of #4

[2017-12-14 06:07] FaisalUmair commented on #5
This has already been fixed in https://github.com/FaisalUmair/udemy-downloader-gui/commit/b92086ce54a70ca45e9fbdeb29eca62ad7e0ebb0

New release soon, with this fix applied. However, you can follow the Developer instructions to get going for now.

Thanks

[2017-12-14 06:07] #5 closed

[2017-12-14 17:27] FaisalUmair commented on #2
I have added the download stop/resume and translation option.

![pause-resume](https://user-images.githubusercontent.com/18553256/34005414-ccbfed86-e120-11e7-93b7-3a9b71ba7aaf.png)
![language](https://user-images.githubusercontent.com/18553256/34005477-fd22e4ec-e120-11e7-89c9-baf817cafde4.png)

Now for the translation part, if you would like to contribute to Italian translation. Here are the steps

[2017-12-14 17:55] m4dbra1n commented on #2
OK, I've forked and then made a pull request, but seems to be on my fork of the App, not your main.
Can you kindly check if I did it well, in case?
Sorry for my noobness on GitHub :(

[2017-12-14 18:00] FaisalUmair commented on #2
Thanks for the quick response.

I think you have made a pull request to your fork. You do not need to go to the pull request tab.
On the main page of your fork, you can see a pull request option (where the last commit is displayed). You have to click that option and not the pull request tab on your fork.

[2017-12-14 18:06] m4dbra1n commented on #2
OK, I've tried to do a pull request with the file correctly edited directly from your repository, without cloning it.
PS: maybe we could communicate better on Telegram, if you like :)

[2017-12-14 18:13] FaisalUmair commented on #2
Yeah that works as well. Thanks 👍

I don't actually use Telegram or any other Social Networking platform. But you can contact me on my email. I have it displayed on my profile.

[2017-12-14 18:23] FaisalUmair commented on #2
The translation works fine. Thanks for contributing.

So the download path, stop/resume and translation all are implemented. Shall I close this issue now?

[2017-12-14 18:24] m4dbra1n commented on #2
All implemented, why not then? ;)

[2017-12-14 18:25] #2 closed

[2017-12-15 08:47] FaisalUmair commented on #5
The changes made are now available in the [latest](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest) release.

Download the new version and it should show all the courses you have enrolled in.

[2017-12-15 08:47] FaisalUmair commented on #4
The changes made are now available in the [latest](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest) release.

Download the new version and it should show all the courses you have enrolled in.

[2017-12-15 08:48] FaisalUmair commented on #3
This feature is now available in the [latest](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest) release.

[2017-12-15 08:52] aditiapratama commented on #5
Thank you so much

Best regards,

Aditia A. Pratama

On Dec 15, 2017 3:47 PM, "Faisal Umair" <notifications@github.com> wrote:

[2017-12-15 13:18] shohan4556 commented on #3
thanks

[2017-12-19 18:33] tagwato opened #9 ""Lecture start" and "Lecture end" not working"
Great job!

But, I have encountered some issues:

- when setting "Lecture start" and "Lecture end", then the downloaded files are given different sequence numbers (not the original order).

- when setting "Video quality" = 1080p, always got 360p.

(Win-64, pre-compiled version from Github)

[2017-12-20 06:11] FaisalUmair commented on #9
Hi, Thanks for reporting.

I just tried the 64 bit windows version and it worked fine for me. I guess when you say the lectures are given different sequence numbers, you probably mean they don't start with the number "1".

If that is the case, then let me tell you it is totally intentional and was implemented to maintain the course structure.
So for example, if we have a course that has 2 lectures

[2017-12-20 12:54] tagwato commented on #9
Hi, Faisal,

About de video quality, it seems you are right.

Regarding the lectures sequence numbers, I comparede the behaviour of this software with udemy-dl.exe. Please, see screenshots below.
You said that Udeler goal is to maintain the downloaded course structure, but it seems a bit odd to me that I specify that I want to download lessons 35, 36 and 37 and what I get are lessons 5, 1, 2.

Any

[2017-12-20 13:16] FaisalUmair commented on #9
Thanks for adding more detail to it. Well from what I said earlier, this isn't something that should happen. Initially I thought you are referring to the case that the lecture names do not start with "1".

Now from the screenshots I see that the sequence is incorrect. But can you confirm if the correct lectures were downloaded?. Looking at the size of the video it seems that the correct video is d

[2017-12-20 14:46] FaisalUmair opened #10 "Pause is enabled before the lecture starts downloading"
The pause button is enabled before the lecture even starts downloading. This prevents user to actually pause the download and it starts anyway and the pause/resume controls become misleading.

The download should either not start when user clicks on pause or the pause button should be enabled only after the download starts.

[2017-12-20 16:59] tagwato commented on #9
Yes, the files are correct, only the labels/numbers are incorrect.

[2017-12-20 17:13] FaisalUmair commented on #9
Alright Sir, I have added this to To Do in v1.3.0

Thanks for reporting! It really helps in improving the software.

[2017-12-21 22:26] nedzad opened #11 "Not able to copy username and password inside text field on login window"
When i open the app i cant copy and paste my username and password. Why is that so?

[2017-12-22 07:36] FaisalUmair commented on #11
Hi,

Copy/paste is not working because there is no native application menu implemented in Udeler as of now.
The reason for this is there are not enough input fields in the application where you would need to paste something except the login screen.

But there is no denying it is always good to have copy/paste enabled as some users might need to copy passwords from vault or something like that.

I

[2017-12-22 09:29] vikasnewports opened #12 "Attachments Not Downloading"
Hello
first of all i am not going for Fork cause I can not contribute.
I have request to add more features like downloading all types of attachments
I hope this request will be consider for futures updates

[2017-12-22 09:46] FaisalUmair commented on #12
Hi,

Yes, The ability to download attachments is missing for now. But I am already working on a new update which will allow attachment downloads along with some bug fixes.

Thanks

[2017-12-24 19:30] passarante opened #13 "Course show Limit"
Hi, thanks four life saving program :)
My, issue is program showing only last added 100 course and other courses not shown
also there be  a search course options :)

[2017-12-25 09:17] FaisalUmair commented on #9
Hi, While debugging I found that there isn't actually anything wrong with the sequence. I know I just admitted in one of my previous comments that the sequence is incorrect but the correct lectures are downloaded. I am sorry about that I think I got confused with the udemy-dl.exe situation.

Let me explain this,

This is the course we are dealing with and all the examples are based on the same cou

[2017-12-25 10:50] #10 closed

[2017-12-25 17:28] FaisalUmair commented on #13
Hi, Course search option is a good idea. I will definitely work on that.

And for the issue where only 100 courses are displayed, I would have to subscribe to more than 100 courses to debug it. I will probably enroll in free courses temporarily to have more than 100 subscribed courses.

[2017-12-25 18:14] passarante commented on #13
Thanks for fast answer and preciate to my opinion
Kind Regards
Guney Dirim

Kimden: Faisal Umair
Gönderilme: 25 Aralık 2017 Pazartesi 20:28
Kime: FaisalUmair/udemy-downloader-gui
Bilgi: passarante; Author
Konu: Re: [FaisalUmair/udemy-downloader-gui] Course show Limit (#13)

Hi, Course search option is a good idea. I will definitely work on that.
And for the issue where only 100 courses are display

[2017-12-26 10:24] vikasnewports commented on #13
one more idea from my side is that
Enable the user to extract/export the list of subscribed courses name with url to manage his/her portfoli

[2017-12-27 05:17] FaisalUmair commented on #13
Sorry I don't think it is clear to me. What do you mean by managing portfolio?

[2017-12-27 06:24] vikasnewports commented on #13
Portfolio = Category
What if we would able to export the list of subscribed courses in below format
Name of Course | URL of Course | Course Category
it is most simplest from my end
I hope it would give you more clear idea about my suggestion

[2017-12-27 06:27] FaisalUmair commented on #13
Ok, but how would it help someone?

[2017-12-27 08:09] vikasnewports commented on #13
it will help me to to manage my data
if its not appropriate then you can skip it

[2017-12-27 08:59] FaisalUmair commented on #13
Well I respect your opinion but I don't think its something that most users would need.

What I think is a good idea though is to add option to export download links so that the users can download videos through any external download manager. Let me know what you think about that.

[2017-12-27 09:24] vikasnewports commented on #13
I agree with your view that most of the users does not care about it
yes exporting downloadable links is a good it would need a access token for external download managers
but it would save can someone decode it ?

[2017-12-27 09:27] FaisalUmair commented on #13
The download links would have access token in the url as a parameter. Users can simply import the link in the download manager.

[2017-12-27 10:59] vikasnewports commented on #13
yes thank you for this feature too

[2017-12-28 05:28] muescha opened #14 "brew cask install Udeler"
you should add udeler as a brew cask formula for easy install

[2017-12-28 05:39] muescha opened #15 ""Lecuture start" / "Lecture end" should be per Course"
it would be more useful if i can select the "Lecuture start" / "Lecture end" should be per Course.

Better when i hit download button:

- give me the list of sections (and lecures) and let me check on which section i like to download.

why?

i need for example:
- only unseen lectures
- only 2 sections ahead (to save space)
- or download all sections

Similar:
it works then like the iphone/ipad app

[2017-12-28 05:50] muescha opened #16 "Detect already downloaded files"
when
- i startet Udeler
- i start a download
- i hit on pause (still downloaded 1,1GB of data)
- i closed Udeler
- i restart the Udeler app
- i start to download the course again

what i see
- the download starts with 1 of 448 items (just now it looks like it starts the download from the beginning)

what i expected
- it should remember (detect) which courses already downloaded (in half?)

[2017-12-28 05:53] muescha opened #17 "generate playlist"
udeler should generate a playlist per course and per section which i can open in quicktime player / VLC

[2017-12-28 06:00] muescha opened #18 "download failed"
what i do

- i start electron
- i tap on download button
- i tap after a while on pause (still downloaded 1,3GB of data)
- i tap on play button to resume the download
- i get a message "download failed - retry"

what i see:
- download starts from beginning with item 1 of 448 items

what i expected:
- retry to download the last file
- continue with the next not downloaded file

[2017-12-28 07:18] FaisalUmair commented on #14
By easy install do you mean building from the source on github for any unreleased version because all the released packages are already in the easiest form, you simply download and install.

[2017-12-28 07:18] muescha opened #19 "allow number format with leading zero"
what i do:
- i downloaded a section
- i open VLC
- i select "Advanced File open"
- i selected the folder of a section

what i see:
- when there are lectures with >9 numbers
- then the lecture 10 start right after lection 1

what i expect
- lectures in right order

how to fix:
- allow lecture and section numbers formatte with leading zero:
1 --> 001
2 --> 002
10 --> 010

[2017-12-28 07:20] FaisalUmair commented on #17
Good idea. I will work on this.

Thanks

[2017-12-28 07:20] muescha commented on #14
when there is a formula by `brew cask`
then all is done by brew with one line `brew cask install udeler`
see https://caskroom.github.io/

[2017-12-28 07:24] FaisalUmair commented on #16
Yeah, I am aware of this and the retry option was implemented in a way that it starts downloading from beginning because I knew that at some point in future I will be implementing the feature to resume broken download which will if will resume from beginning it will detect that the files are already downloaded 100% and then resume from the file which it detects to be broken.

[2017-12-28 07:26] FaisalUmair commented on #14
Ok, I will check it.

Thanks

[2017-12-28 07:28] FaisalUmair commented on #18
I think this is similar to #16

Implementing resume from broken download should fix this issue and #16 both.

[2017-12-28 07:31] FaisalUmair commented on #19
Yeah I have seen this numbering scheme implemented in some of the scripts which download Udemy courses. I never understood why they use leading zeros but now I know.

But if we generate a playlist per course and per section of course? Do you still need the leading zeros?

Thanks

[2017-12-28 07:32] muescha commented on #16
if a file is broken while downloading it has a temporary extension. so just look for the filename before downloading: if it exists, then skip the download process.

(only problem maybe if the lectures are the same name and with same number)

[2017-12-28 07:34] FaisalUmair commented on #16
Well, I think if I try to resume all. It will automatically skip the ones which are fully downloaded. So there should be no extra work involved in this. If the files is already download when it tries to resume it, the progress will automatically increase as it will take some mili seconds to resume the file as the file is already downloaded so it will automatically reach to the point where it stopp

[2017-12-28 07:35] muescha commented on #19
i think some other apps (and the windows explorer ) not sort it right without a leeding zero.
so it is a low hanging fruit to make an option "add leading zeros" to get vlc work ;)

[2017-12-28 07:37] muescha commented on #19
or maybe on windows by default on.

for #16 you should be aware that someone changed this setting while download sessions.

[2017-12-28 07:37] FaisalUmair commented on #19
I think you are right, better to implement it as it wont hurt as anyway.

[2017-12-28 07:39] muescha commented on #16
ok - understand - it check it by checksum and not by filename then?

[2017-12-28 07:43] FaisalUmair commented on #16
If the user changed any setting and tries to download we can download from beginning in that case.

And for resuming by file, I am using a third party nodejs package. So I am not aware what it checks, but I know if we throw a fully downloaded file at it to resume it will just skip it. I think most likely it could be checking for temporary download file and if it doesn't find it it skips it. My poi

[2017-12-28 07:44] muescha opened #20 "Leave original lecture number"
what:
- when i download a file
- i see a lecture
- i like to see the notes from the lecture
- i have section number and lecture number

what i see:
- in each section is count from 1
- but on the website it is counted ongoing

what i expect:
- an option to count ongoing - so that my files in sync with the lection numbers on the website

[2017-12-28 07:52] FaisalUmair commented on #20
Ok, for this I wasn't quite sure which way to go because the naming scheme I used was my preferred one.

Check this #9

I deliberately left it to the naming scheme it uses currently, we can however change it easily without much effort. But I was waiting someone to point it out so that I know it is something that bothers users.

[2017-12-28 07:59] muescha commented on #20
yes - it is the same problem but for an other use case - to be in sync with the original course and read the FAQ there or leave comments in the FAQ

[2017-12-28 08:01] FaisalUmair commented on #15
This is a good idea and I was thinking about it myself also. We can schedule it for future releases.

I have 1.3.0 unreleased and it adds support for downloading lecture attachments and other items. I am testing 1.3.0 currently. Once it is ready I will release it.

[2017-12-28 08:03] muescha commented on #20
i just looked into the iOS App: there is also the ongoing counting. so i think the users are used to have this ongoing counting as default - and via opt out it would be ok to have the "per section counting"

[2017-12-28 08:05] FaisalUmair commented on #20
Ok, lets got with the ongoing counting as it sound more natural.

One thing I noticed on Udemy is that it doesn't detect Quiz as part of counting lectures. But doest count Articles, Presentations etc. Do you think we should also skip quizzes so that they don't interfere with the counting and the lecture structure will match as on Udemy website.

[2017-12-28 08:12] muescha commented on #20
definitely then it should match the Udemy website.

just now i see only max one attachment per lecture. maybe handle a quiz as an attachment to the previous lecture?

[2017-12-28 08:21] FaisalUmair commented on #20
Well a Quiz can be in a separate section, so adding it as a attachments to the previous lecture will put the quiz in incorrect section. I think we can simply skip prefix for Quiz just name it as it is.

And a quiz as attachment is different than quiz being as a lecture. If a lecture has a attachment, we name it as LECTURE_NAME.ATTACHMENT_NUMBER

And what do you mean by max one attachments per lect

[2017-12-28 08:23] muescha commented on #15
one point also for selection per section/lecture is that Udemy give you a refund but only if you look at an xxx amount of slides you seen(or downloaded). downloading all lectures are a reason to reject the refund.

[2017-12-28 08:32] muescha commented on #20
in my downloaded course i see only one attachment per lecture - not more - maybe this is only in my course that they have only one

[2017-12-28 08:33] FaisalUmair commented on #20
Yeah could be so, I tried with multiple attachments and it works.

[2017-12-28 08:34] muescha commented on #20
just checked: i found also one lecture with 2 attachments

[2017-12-28 08:39] FaisalUmair commented on #15
When I download a course through Udeler, I don't see that the downloaded lectures are counted as seen by Udemy.  However, there is no denying that they can still check it anytime and might have a system in place for that. Your point is genuine. As I said before we can consider this feature for future releases.

One workaround for now could be, you can change Download Start/End each time before sta

[2017-12-28 08:42] FaisalUmair commented on #20
Can you share the course link? So that I can see what could be wrong. I implemented that attachment download in a way that it downloads all attachments of a course. But it is a very new implementation and I don't expect it to work perfectly and thats why I haven't releases 1.3.0 yet.

[2017-12-28 08:46] muescha commented on #20
your implementation is good - there is no error

[2017-12-28 08:48] FaisalUmair commented on #20
Ok so for the lecture which has 2 attachments, all attachments were downloaded?

[2017-12-28 08:51] muescha commented on #20
i am still stopped at section 14 because of too much downloaded for my ssd :)

[2017-12-28 08:58] FaisalUmair commented on #20
No issues, I guess it should work fine.

Thank you for all your suggestions.

[2017-12-28 09:06] muescha commented on #20
at first: i tried the from - to settings - the are not effect if i am on pause. there is no stop button.
i need to quit Udeler and restart to get effect the `from - to` settings working. after restart it worked.

i done setting: from:244 to:249
existing lectures:
[code]
results:
a) 244-247 lectures with all attachements are downloaded
b) 248/249 missing
c)  progress 50% display 3 of 6 - above (per

[2017-12-28 09:13] FaisalUmair commented on #20
When the overall progress stops and only the lecture based progress works it means that an attachment is currently being downloaded.

And if you mean that the progress is stuck, you can open dev tools and check what it is saying.

[2017-12-28 22:15] muescha commented on #20
Next week i can look more into it

[2017-12-29 05:11] FaisalUmair commented on #14
A cask for Udeler is now available

`brew cask install udeler`

[2017-12-29 05:12] FaisalUmair commented on #20
Sure, Thanks!

[2017-12-29 05:54] FaisalUmair commented on #14
I was thinking about making a gui for Homebrew Cask. I have used homebrew before, but didn't knew much about cask.

While I was searching, I found your comments on few suggestions that were already raised about this. I think that was in 2013, now Homebrew Cask has grown a lot over time. All the packages available on Homebrew Cask could help in making an app that helps you discover other apps and h

[2017-12-30 07:57] ericnjuki commented on #18
Not sure if this is the same issue but the download immediately fails when internet goes off or a change in network happens, even if just for a second.

[2017-12-30 08:28] FaisalUmair commented on #18
If the internet goes off, the default action is it tries to reconnect. In my case when I turn off wifi it retires it for few seconds, if I reconnect it catches up again but if I leave it off for say 20 seconds, it gives up.

But as you mentioned in your case it doesn't even hold for a second, so I guess we have something going on here. What version are you on and what operating system?

[2017-12-30 09:47] ericnjuki commented on #18
You're right, i've just tested it a couple of times, it _does_ hold on for some time. Sorry false alarm. But maybe it could pause instead of failing completely and pick up where it left off (this is in line with #16) .

I do, however have an issue but I don't know how to replicate. I've left some downloads running overnight and when I check next morning it says 'download complete' and all the file

[2017-12-31 08:45] mahdisky opened #21 "not login"
i have account in udemy but not login app
incorrect email/password

[2018-01-01 07:12] FaisalUmair commented on #21
Try logging in on udemy.com. Your account might be temporarily blocked due to several incorrect login attempts. However, if you are able to login on udmey.com make sure that there is no pending approval of Terms and Conditions from your side.

[2018-01-01 07:27] FaisalUmair commented on #18
Yeah, we can pause the download instead of ending it. But once we have the resume broken downloads function in place it won't matter at all as the download will still resume from the point it failed.

Coming to your second issue, I haven't actually experienced this myself. However I didn't try downloading courses to the full and checking each file. I think it might be due token invalidation or som

[2018-01-01 08:37] mahdisky commented on #21
i logging in my account on udemy.com without problem .but i need login with proxy .is this true way?

[2018-01-01 08:58] FaisalUmair commented on #21
Well if you logging via a proxy server, check if the same proxy lets you login on udemy.com. If the proxy works and lets you log in on udemy.com then it should be same for the app. But make sure that your internet in configured to use the proxy and not just your web browser.

[2018-01-01 09:20] mahdisky commented on #21
yes the proxy works and lets me log  in on udemy but not login with the app. my connection is configured to use the proxy  and true

[2018-01-01 09:23] FaisalUmair commented on #21
Did you try using any other account if you have? Try making a new account and see if you are able to login. If not then try disabling the proxy.

[2018-01-01 11:13] mahdisky commented on #21
i tried a new account but not login again, i disable the proxy but it doesn't show any error notifications

[2018-01-01 11:29] FaisalUmair commented on #21
Ok, so after disabling the proxy make sure you do not have any pending approvals of terms and conditions on udemy.com.

[2018-01-01 11:39] mahdisky commented on #21
when the proxy disable cannot open  udemy.com but with the proxy i  can login on udemy . i used Windows x64 ,now what do i do?

[2018-01-01 11:43] FaisalUmair commented on #21
Ok, so you are not able to use udemy.com on your network thats why its failing. What country are you in? Try a vpn (maybe Hotspot shield), I guess the proxy isn't applied to the whole network. Just try using a vpn to clear any doubts.

[2018-01-01 11:45] AquaCFD opened #22 "Do not fetch all courses"
Well done, it provides  an easy and smooth help for Udemy's courses downloading. However, there is a tiny issue:

Some of the courses do not appear (For downloading)  in the GUI window.  I have tried many times, in order to upload them, still no luck, though.

[2018-01-01 11:56] mahdisky commented on #21
thnks, i used Hotspot shield and worked,my Previous proxy psiphon than not works

[2018-01-01 12:18] #21 closed

[2018-01-01 12:20] FaisalUmair commented on #22
Yeah. there is a limit of 100 right now and its not deliberate. It is already registered as a issue #13

v1.3.0 will take care of this issue.

[2018-01-01 12:24] mahdisky opened #23 "have subtitle ?"
is download subtitle courses?

[2018-01-01 12:29] FaisalUmair commented on #23
Subtitles are always great. Unfortunately haven't had a chance to work on that. I will try to include that in future releases.

Thank you.

[2018-01-01 12:48] mahdisky commented on #23
thnks

[2018-01-01 13:10] FaisalUmair commented on #23
Well keep the issue open until we get this done.

[2018-01-02 16:16] ewoks commented on #11
Unfortunately it is not possible to type some characters in password field as well!
Together with not being able to paste pass this makes it impossible to pass login screen.
One of those problematic character is _"^"_, but maybe there are more.

[2018-01-02 16:30] FaisalUmair commented on #11
I just released v1.3.0 which fixes the issue with copy/paste. Download v1.3.0 and try again.

Regarding some characters not being accepted, you can try the same in v1.3.0. If you still cannot type those characters then please open a new issue.

Thanks

[2018-01-02 17:07] ewoks commented on #11
Thanks. Copy/paste works in 1.3.0 so I was able to login. Typing all characters still doesn't work so I will open new issue. This can be closed. Cheers

[2018-01-02 17:09] ewoks opened #24 "Not able to type all chars in password field"
Platform: MacOS
I am not able to type some characters in the password field on login screen, therefore not being able to login by typing.
Special character that was problematic in my case is: **^**
It might be that there are other characters that are affected by this issue too.

[2018-01-02 17:24] FaisalUmair commented on #22
This has been fixed. Download [latest](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest) release.

[2018-01-02 17:24] #22 closed

[2018-01-02 17:26] FaisalUmair commented on #13
This issue has been fixed. Download [latest](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest) version.

[2018-01-02 17:27] #13 closed

[2018-01-02 17:27] #11 closed

[2018-01-02 17:28] #14 closed

[2018-01-02 17:29] FaisalUmair commented on #12
Support for downloading attachments has been added in v1.3.0. Download [latest](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest) version.

[2018-01-02 17:29] #12 closed

[2018-01-02 19:37] ewoks commented on #24
macOS Version is 10.12.6
I was not using any shortcut but tried to enter character by entering keyboard key and nothing happened. I could entered it in username/email field just for a test purpose

[2018-01-02 19:44] drweb86 opened #25 "Could you please also download attachments and embedded txt files?"
Hello

Could you please also download attachments and txt files?

Thanks.

[2018-01-02 20:05] drweb86 opened #26 "Add Russian Language (attached)"
[ru.zip](https://github.com/FaisalUmair/udemy-downloader-gui/files/1598574/ru.zip)

[2018-01-02 23:00] ericnjuki commented on #18
[Here](https://www.udemy.com/the-complete-guide-to-angular-2/learn/v4/overview) is the link to the course.
Udeler version: 1.2.0
System: Windows 10 Home

[2018-01-03 01:08] nathanperkins opened #27 "download of specific course failing every time"
The download of one of my courses is getting stuck every time at 5% and 16 out of 347 items.

![screen shot 2018-01-02 at 5 04 09 pm](https://user-images.githubusercontent.com/10337495/34506185-72933264-efdf-11e7-9673-987cb1d0bb87.png)

I didn't change any settings. I was able to download another course without issues.

![screen shot 2018-01-02 at 5 36 40 pm](https://user-images.githubusercontent.

[2018-01-03 05:45] FaisalUmair commented on #24
Do you have any password manager tool installed like 1password? I don't see a reason why it shouldn't work in password field if it does work in plain text field unless there is a third party tool controlling password fields.

[2018-01-03 05:49] FaisalUmair commented on #26
Hi, Thanks for the translation!
However this isn't a proper way to contribute. Could you please follow this [link](https://github.com/FaisalUmair/udemy-downloader-gui/blob/master/CONTRIBUTING.md#addingupdating-a-language)

[2018-01-03 05:50] FaisalUmair commented on #25
Since 1.3.0 attachment downloads are already supported. Download [latest](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest) release

[2018-01-03 05:54] FaisalUmair commented on #27
Hi, Thanks for providing the details.

Can you please attach of screenshot of the course content (specially 16th item) of this course from Udemy.com. I will see whats wrong and push an update. Meanwhile you can just turn off attachment downloads in the settings by checking the "Download Lecture Videos Only" checkbox or you can downgrade to any old version of Udeler.

[2018-01-03 05:56] #26 closed

[2018-01-03 06:07] FaisalUmair commented on #18
Thanks for providing the link. I have released 1.3.0. You can try and see if it changes anything.

[2018-01-03 15:26] FaisalUmair commented on #27
Never mind, It happens to be a serious bug in v1.3.0. While testing I found most of the courses are getting stuck at some attachment. I have fixed this and updated the repository. However, I haven't released a new version yet. I will update this issue once I release the next version.

[2018-01-03 15:50] FaisalUmair opened #28 "Pause/Resume not working on Windows OS"
Pausing a download and resuming it makes the download fail every time on windows operating system.

[2018-01-03 16:41] muescha opened #29 "should save username (email)"
since i often need to restart Udeler i see this:

please save email between starts

[2018-01-03 19:24] nathanperkins commented on #27
Great thanks for a quick response :)

[2018-01-03 20:50] drweb86 commented on #26
Hello

I updated zip.
[ru.zip](https://github.com/FaisalUmair/udemy-downloader-gui/files/1601660/ru.zip)

[2018-01-04 10:28] FaisalUmair commented on #26
Well thats not what I meant, Anyway, I will add the translation to the repository and will be available in next release.

Thanks!

[2018-01-04 11:52] FaisalUmair commented on #27
Fixed in v1.3.1. Download [latest](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest) release.

[2018-01-04 11:54] FaisalUmair commented on #28
Fixed in v1.3.1

[2018-01-04 11:54] #28 closed

[2018-01-06 06:09] FaisalUmair opened #30 "Pause/Resume is not stable"
If a download is paused when its almost complete (say 97%), upon resuming the download always fails.

[2018-01-06 13:01] FaisalUmair commented on #30
Fixed in v1.3.2

[2018-01-06 13:01] #30 closed

[2018-01-07 17:12] #25 closed

[2018-01-07 17:12] drweb86 commented on #25
Thanks!

[2018-01-09 15:31] walkero-gr opened #31 "How about subdomains"
I have access to Udemy at a certain subdomain, f.ex. [subdomain].udemy.com
Is there a way to support such registrations?

[2018-01-09 21:19] mahdisky commented on #23
hi
when you fix it?

[2018-01-10 17:08] FaisalUmair commented on #31
I am not sure I understand. Can you add more detail?

[2018-01-10 17:11] FaisalUmair commented on #23
Hi, I am currently working on improving the pause/resume option. It isn't stable as of now. Sometimes the download fails when paused and resumed. The main job of this application is to download Udemy courses and it needs to do that properly. I will surely look into the subtitle feature after we have a stable pause/resume functionality.

[2018-01-10 17:16] FaisalUmair commented on #27
Assuming v1.3.1 fixed this issue as the courses for which I was able to reproduce this bug are now downloading completely on v1.3.1.

Closing this issue based on the above assumption. You can reopen the same if the problem is still there.

[2018-01-10 17:16] #27 closed

[2018-01-10 17:19] FaisalUmair commented on #29
Yeah, Actually I was thinking about implementing a proper logout option. However saving the username locally and keeping the user logged in can go side by side.

[2018-01-12 14:51] walkero-gr commented on #31
UDemy makes cooperations with companies to provide specific content at better prices. My company has such a contract. Those companies access Udemy from a specific subdomain, f.ex. apple.udemy.com. Users' access at these sites can see courses that they can't from the main site. F.ex. if I go from the main website a course will ask me to buy it, but from our subdomain it will be totally free.

Does

[2018-01-12 15:43] FaisalUmair commented on #31
Yeah that makes sense. Actually I was anticipating this reply.

But, in order for me to support such registrations, I would need to check how these accounts interact with Udemy servers or if there are any different endpoints in api for such accounts or even if there is an api at all. I don't have any such account so it prevents me from working on that.

If the api was same it should have beenworki

[2018-01-12 17:36] FaisalUmair commented on #31
Sounds great! There is a really good chance that Udemy may have kept the api structure same for the subdomain level api and just used the subdomain as host name instead of main domain.

Since you have the account, you can test it and let me know so that I can implement it in the main repository. Actually we can complete this feature on your fork so that you can verify with each change that its wor

[2018-01-15 02:47] s7oneghos7 opened #32 "Full course list is not loading"
I am getting only 100 courses of 316 loading in the UI.  It seems that the 100 are the most recent courses.  I am looking for where the limit is being placed either on the server or in the code.  If it is in the code, then we need to page the course list extraction.

[2018-01-15 02:56] FaisalUmair commented on #32
Already fixed. Download the [latest](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest) version.

[2018-01-15 11:12] #32 closed

[2018-01-16 16:24] walkero-gr commented on #31
Hello again.
Today I tried to change the code and support the business packages of udemy.
The problem I have with the login from udeler to these domains is that there is no csrfmiddlewaretoken field, because the login page is generated with JS. Check the following url
https://valin.udemy.com/organization/login/

This is the main problem I have currently with the login procedure. Any idea so far?

[2018-01-16 16:24] walkero-gr commented on #31
Closed the issue by mistake. Sorry about that

[2018-01-17 06:56] FaisalUmair commented on #31
Hi, There is a `data-module-args` attribute on `.ud-react-loader` element which contains `JSON` where you will find a key named csrf. That is you csrf token.

Alternatively, you can find the csrf token in the response set-cookie header.

[2018-01-21 21:51] Alltimeovercomer opened #34 "The Current Search And Load More Is Not Helping Accounts With Large Number Of Courses"
Please add functionality of searching and downloading a specific course, either by name or course URL. The current search and load more does not help in this regard.
This is very important for usability in account with more than 300 courses. Thank you, and well done.

[2018-01-22 02:12] ejose19 commented on #16
Hello, thanks for your amazing program. Do you plan on implementing this soon? My udeler failed at half the course and this is very big course (10GB) my internet is really slow, so starting again would take me weeks to complete.

[2018-01-23 05:26] FaisalUmair commented on #16
Hi @ejose19 , I am sorry about the download issues. I know it doesn't work very well. I was actually looking for an alternative implementation for downloading files. But I guess we will stick to this for some time and implement the resume from broken downloads for now.

I will update the application in few days.

Thank you.

[2018-01-23 05:30] FaisalUmair commented on #34
Hi, I think you are right, the search filter only filters the courses that are loaded. You will have to load all the courses by clicking load more again and again and then filter the courses to find the course you were looking for.

I will work on improving the course filter so that it works both as a course filter and a real course search which searches all your subscribed courses.

Thank you.

[2018-01-29 17:14] FaisalUmair commented on #34
Hello @anonymiz

Currently it only works as a desktop app because of nodejs dependency. However, I do have plans to make a web only version of Udeler.

[2018-01-31 09:36] amaan22 opened #35 "Resume does not work when we start pc"
hello sir,
resume feature does not work in your software when we start our pc..
for example if course contain 200 files and i download 100 files mean completed 50% and i shut down my pc.next time when i will try to download that course it will start from 0 instead of from 50%..

it create problem with downloading big course as we can not remain online for 24 hour.
please fix this

[2018-01-31 17:27] FaisalUmair commented on #35
Hello @amaan22 . This has been referenced before. Please check #16

This can be fixed by adding a feature which can detect already downloaded files and resume download from the point it was stopped. I will add this feature in next release.

Thanks.

[2018-02-01 05:01] amaan22 commented on #35
thank u.will wait for next release.

[2018-02-04 11:09] jjsquackers opened #36 "What languages and frameworks do you use to create this awesome desktop application"
By the way I'm a student from the Philippines and your little project really drives me into develop more.

[2018-02-04 17:11] FaisalUmair commented on #36
Hello @jjsquackers , I am glad this project inspired you.

Udeler is built using [electron](https://electronjs.org/). Electron is a nodejs module which allows for developing desktop apps using HTML, CSS and JAVASCRIPT.

[2018-02-05 16:33] nikhil7451 opened #37 "Downloading speed got so slow after downloading 2 or 3 sections"
why it's happening it got boosted if I pause but just for few seconds,pls fix this.
Thank you for this awesome downloader

[2018-02-10 09:57] FaisalUmair commented on #37
The download functionality as of now is not very stable. I am currently using a third party nodejs module for downloading courses. The module has since been updated, but the implementation needs a major overhaul. I will either make some small changes to fix the current issue or update the download manger completely by following the new update of the dependency or make my own downloader which has a

[2018-02-10 12:25] nikhil7451 commented on #37
thanks ,when will you push the new update

[2018-02-12 11:08] ashaqhussain commented on #16
When can we expect an update with resume feature..plz

[2018-02-12 18:16] FaisalUmair commented on #16
Hello @ashaqhussain , I am Sorry that I haven't been able to catch up with the issues here. I am busy with some other projects. But I will make sure that I will at least fix all the issues related to downloading course lectures. Expect an update this week.

[2018-02-13 10:11] dotaxis commented on #37
@FaisalUmair are you willing to outline your idea of the necessary changes for us? I'm sure with a direction in mind someone else could submit a PR for you to build on later.

[2018-02-13 11:00] FaisalUmair commented on #37
Hello @dotaxis, Sure man. By saying the downloading functionality is not very stable, I mean sometimes it doesn't resume the download if paused at the verge of download completion. I have actually patched it multiple times so that the download doesn't fail. But I am still not happy with the stability overall as many others here.  And the new feature that is required to is to resume download from t

[2018-02-13 11:06] FaisalUmair commented on #37
@nikhil7451  and @dotaxis I will try to push a new update this week which will include the resume support after download fail. Meanwhile @dotaxis  if you can work with the updated version of the dependency it would be great. I will link it [here](https://github.com/tusharmath/Multi-threaded-downloader)

Actually I am not using this dependency directly but a fork of it.

[2018-02-15 01:07] tofanelli commented on #29
or just create a Json file with name and username, and make it load from there.... problem solved....  some settings like preferred languages, resolution, username and email could be saved there...

[2018-02-15 01:23] tofanelli commented on #19
i totally agree with this naming schema =)

[2018-02-15 11:02] nikhil7451 commented on #37
thanks @FaisalUmair and @dotaxis for looking in this issue,I don't know much about coding so I can't help really and thanks @FaisalUmair for working on new update of udeler and try in future update to add self build downloader that will be much stable I think.

[2018-02-20 13:48] agentak123 commented on #16
when will u update
waiting for this update 🙄

[2018-02-20 14:09] agentak123 commented on #16
8 days gone.. u said in a week u will release an update 😁

[2018-02-20 14:15] FaisalUmair commented on #16
Hello @agentak123 , I am Sorry for the delay. But I am very busy with some other projects which are on a deadline. I am unable to get any free time these days otherwise I would have fixed this already.

[2018-02-21 03:35] llpj opened #41 "Password compromised few days after using this software"
Did anyone have similar experience ?

[2018-02-21 05:54] FaisalUmair commented on #41
Hello @llpj  Your credentials are sent to Udemy servers directly for authentication. This projects is open source, anyone can check the source code to determine if there is anything suspicious.

Also the executable contains same code and can be extracted and checked. Did you download the application from here or from any other source?

[2018-02-21 15:18] Mohanneed opened #42 "whin i pressed puse and close app the app repet all downloads from starting"

[2018-02-21 15:57] walkero-gr commented on #31
Yes, the fork you pointed works just fine... Glad someone implemented this.

[2018-02-22 02:05] llpj commented on #41
I am not sure as it was installed in another computer which may have been compromised.
Thank you for help. Cheers!

[2018-02-22 10:51] #41 closed

[2018-02-25 09:09] dotaxis commented on #37
@FaisalUmair please don't count on me to look at this right away. Literally got swamped with work right after saying I would work on this.

I'll still do it, but it'll be a few weeks at least.

[2018-02-28 05:14] nikhil7451 commented on #37
no problem @FaisalUmair work is also very important, work on this one whenever you get time

[2018-03-02 17:35] FaisalUmair commented on #42
Duplicate of #16

[2018-03-03 19:04] FaisalUmair commented on #16
Hello everyone, I have added the feature which will detect already downloaded files and resume from where it stopped last time. I am currently testing it on various platforms. The changes have already been committed, if you want to try it, clone the repo.

I will pack and release the app soon (probably tomorrow). And I am sorry for the delay.

Thanks.

[2018-03-04 12:11] ashaqhussain commented on #16
Waiting.... Sigh

[2018-03-04 15:24] FaisalUmair commented on #16
Please download the latest version from [here](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest)  and let me know if the problem has been resolved.

Thanks

[2018-03-04 15:25] FaisalUmair commented on #42
Please download the latest version from [here](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest)  and let me know if the problem has been resolved.

Thanks

[2018-03-04 15:26] FaisalUmair commented on #35
Please download the latest version from [here](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest)  and let me know if the problem has been resolved.

Thanks

[2018-03-04 15:26] FaisalUmair commented on #18
Please download the latest version from [here](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest)  and let me know if the problem has been resolved.

Thanks

[2018-03-04 15:28] FaisalUmair commented on #31
Hi @walkero-gr The changes made by @miguelduarte42  are now available in the [latest](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest) release.

[2018-03-04 15:31] FaisalUmair commented on #37
Hello @dotaxis , @nikhil7451  , I have made the necessary changes required to implement the resume from last session feature.

Please download the latest version from [here](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest)  and let me know if the problem has been resolved.

Thanks

[2018-03-04 16:29] agentak123 commented on #16
finally thanks mate

On Sun, Mar 4, 2018 at 8:54 PM, Faisal Umair <notifications@github.com>
wrote:

[2018-03-04 16:44] vikasnewports commented on #34
search is not working anymore i have numbers of courses joined , i tried short and long keywords even that full course name , half course name but getting irrelevant courses (from my courses).
Hope that u will fix it in next version or in web version

[2018-03-05 12:45] ilbrigz opened #45 "I can only download the first lecture of the course."
Only downloads the first lecture

[2018-03-05 13:00] FaisalUmair commented on #45
Does this happen for all courses?

[2018-03-05 13:11] FaisalUmair commented on #34
Hello @vikasnewports The search in the application is actually a filter which filters the courses loaded based on your input. Only the courses that are loaded will be filtered. Please check if you see a load more button at the end and try to load all courses and filter again.

I will soon implement a proper search feature which will search all subscribed courses of a user.

Thanks.

[2018-03-05 14:05] vikasnewports commented on #45
working fine at my end download 4 courses but I am facing the other issue is that I can not search any course even that with full course title or half course title or part of it ..
is it possible that just provide the course link to select the download instead of search ,

[2018-03-05 14:06] sabsab22 opened #46 "بخصوص ملفات الترجمة"
عمل ممتاز جدا جدا . حبيت استفسر عن ملفات الترجمة متى بتكون النسخة اللي تدعم ملفات الترجمة .

[2018-03-05 14:26] FaisalUmair commented on #45
@vikasnewports  Please check the reply on #34

[2018-03-05 14:31] FaisalUmair commented on #46
I am not sure what google translate says is what you actually meant.

But if you are asking about Arabic translation. It is currently not available but you can be the one who makes it available to yourself and everyone else. Please check https://github.com/FaisalUmair/udemy-downloader-gui/blob/master/CONTRIBUTING.md

I don't even know if you can read English. But I hope you get the message somehow

[2018-03-05 14:56] sabsab22 commented on #46
I mean
download subtitle for courses
https://github.com/FaisalUmair/udemy-downloader-gui/issues/23

ok

^_^

[2018-03-05 18:20] vikasnewports commented on #34
I tried various combination but you can see the result here http://prntscr.com/in8i9l

[2018-03-05 18:24] FaisalUmair commented on #34
Is the course you are looking for already loaded in the application? As I said before the search is only a filter and not actually search which searches your Udemy account. It only filters the results that are already loaded.

[2018-03-05 22:13] ilbrigz commented on #45
Oh,, I unchecked the download start/end and it seems to work now. Sorry for that. Thanks for this awesome app by the way!

[2018-03-06 14:14] vikasnewports commented on #34
I got it now , its hard to load all courses because I have around 12.7K courses joined .I would wait for stable solution . I have 2 requests with you for it
1:) Download the course through URL
2:) Export the list of Joined courses (if possible )

[2018-03-07 03:54] tofanelli opened #48 "Changelog for 1.4.0"
hey @FaisalUmair

what is the changelog for this new version??

cheers =)

[2018-03-07 09:51] FaisalUmair commented on #48
Please read the release [description](https://github.com/FaisalUmair/udemy-downloader-gui/releases/tag/v1.4.0)

Thanks

[2018-03-07 14:32] tofanelli commented on #48
Superb! I haven't seen it.... sorry =)

[2018-03-08 17:28] saifullah9002 opened #49 "Downloading speed is slow"
Please add a downloading tab so that we can see what is downloading.
Or add directly download to google drive.

[2018-03-11 05:47] FaisalUmair commented on #49
Hello @saifullah9002

In the latest version ( v.1.4.0 as of now), the number of downloading threads is limited to 1 for stable downloads. In next version I will add the option to change the number of downloading threads or if found to be causing no harm, then increase it to max by default.
Please download any old version to see what speed you get at max threads.

And for the downloading tab, I thi

[2018-03-11 06:06] FaisalUmair commented on #48
No issues :)

[2018-03-11 06:06] #48 closed

[2018-03-11 06:06] FaisalUmair commented on #46
Will add that feature soon.

[2018-03-11 06:07] #45 closed

[2018-03-12 23:04] cannmatik opened #50 "I Cannot log in"
I can't login
[http://i.hizliresim.com/JQB17J.png](url)

[2018-03-13 14:06] Brahimtgr commented on #50
1 °) I can't login through a transparent proxy  ( a company proxy)
      when I use my phone connection I could connect
2°) add feature to choose the specifc course to download

thanks a lot for this work
Brahim

[2018-03-14 16:39] saifullah9002 commented on #49
Thanks alot

On Sun, 11 Mar 2018, 10:47 am Faisal Umair, <notifications@github.com>
wrote:

[2018-03-15 14:38] itsmemac opened #51 "Downloads queue tab"
Separate tab to see active downloads

[2018-03-16 09:07] anjumk17 opened #52 "udemy-downloader issues"
when i login and download any course it's saying downloaded 0 out of 1 items every time i download any course

[2018-03-16 10:03] anjumk17 opened #53 "downloading issues"

[2018-03-17 15:43] BrayoKane commented on #50
Can't sign in using Google Account

[2018-03-24 20:22] rajeevshukla opened #54 "Loading Courses spinning indefinitely"
I am able to log in using udemy business account. I also added https://<subdomain>.udemy.com but I see loading courses spinner is spinning indefinitely. How to fix that?

[2018-03-25 01:52] FaisalUmair commented on #54
Business name is just the name of the business, not the full url. For example if the business url is http://apple.udemy.com/ then the business name should be "apple"

[2018-03-28 01:00] rajeevshukla commented on #54
Thanks. It worked.

[2018-03-28 01:00] #54 closed

[2018-04-02 20:21] Blair2004 opened #57 "Unable to resume download"
Hi,
thank you for your tools.
I've been using it to download a courses (premium) on Udemy, but i wasn't able to complete the download on the same day, so i came back later to resume it, but after loading, the download stick at the same place for hours and the download rate speed doesn't change.

![image](https://user-images.githubusercontent.com/5265663/38214217-daf82bf2-36bb-11e8-8a3b-1b0967abf0e

[2018-04-03 05:48] FaisalUmair commented on #57
This is a known issue where the download stops on expired download links, but in most cases it moves on to next file after timeout. But in your case it is a attachment so I guess it wont automatically skip and move to next file.

Here is what you can do.
Close the application, go to the folder where the course is being downloaded. Navigate to the last folder and delete the last file, come back to

[2018-04-03 05:53] FaisalUmair commented on #53
If it shows 1 item then it means you have lecture start - lecture end option enabled in settings. Please deactivate the feature and you should be able to download all files.

[2018-04-03 05:53] FaisalUmair commented on #52
Duplicate of #53

[2018-04-03 05:57] FaisalUmair commented on #51
I will surely consider this. I think since the resume download feature, need of separate download tab has increased as sometimes users don't remember which course were they downloading and have to locate the same again.

[2018-04-03 06:13] nk932714 opened #58 "Not able to run on heroku"
Giving application error while running on heroku

[2018-04-03 06:30] FaisalUmair commented on #58
I am not sure what you are trying to do. This is an electron app and needs to launch a chromium browser to render frontend. Are you trying to launch this headless?

[2018-04-03 12:57] italofelipe opened #59 "Missing Downloads"
Good morning, i'm trying to download a course, Udeler says Download Complete, but when I try to watch the videos, i see that they have only 300kb, and they don't even open. I love your app, it helps a lot, but plz, fix that!

[2018-04-03 22:39] Blair2004 commented on #57
That helped thank you.

[2018-04-03 22:39] #57 closed

[2018-04-04 03:08] nk932714 commented on #58
Thanks for your quick reply @FaisalUmair  sorry for raising issue without complete reading full description.

I was thinking this is an app which will run on node.js and after deploying on Heroku( or any other platform which supports node.js)  it will open a webpage to login with udemy and download the videos through webpage.

But i think it is not ment for that purpose.

[2018-04-04 03:08] #58 closed

[2018-04-07 08:42] hgabe opened #60 "Search doesn't work"
The search bar doesn't work well in searching for specific courses

[2018-04-11 23:29] Smitty010 opened #61 "File extension are duplicated"
Not a huge deal, but when you download pdfs and zip files, the file extension gets duplicated.  So, if the file name is fred.pdf, you name if fred.pdf.pdf.  similar thing happens on zip.

[2018-04-13 10:29] PradeepKusuma opened #63 "Not loading courses"
I am trying to login with udemy business credentials, but I am unable to load the videos. The screen continuously showing loading black screen.

[2018-04-15 12:20] itsmemac opened #64 "Course is already downloaded notification"
Need a notification or an indication that "The tutorials is already downloaded"
Maybe give a option like "Re-Download" in the indication so that we can redownload the tutorial is its already download. It can be useful who has more number of tutorials.

[2018-04-15 17:33] FaisalUmair commented on #63
What do you type in `Udemy Business Name` field?

[2018-04-15 17:38] FaisalUmair commented on #61
Yes, I am aware of it. Thanks for pointing it out anyway

Actually it is due to the way the code handles file extensions, it adds on the extension to the file name and doesn't check if the file name already consists a file extension.

I will make sure that the next release takes care of it.

[2018-04-15 17:43] FaisalUmair commented on #60
Yes, there are quite a few issues regarding the search here. It is just a filter which filters the courses based on their names. It only works with the courses loaded in the UI.

In next release, I will add a proper search, which will search the entire user subscribed courses list.

[2018-04-15 17:45] FaisalUmair commented on #59
Hi, Please try deleting the course folder in your downloads directory. There is a good chance that the download links are expired.

I will surely fix it in the next release and make sure that the application takes care of the expired download links.

[2018-04-15 17:47] FaisalUmair commented on #64
Hi, Yes I agree with you.  This options is required and I will surely work on this.

Thanks.

[2018-04-19 16:25] sha1sum commented on #16
I was looking for issues that maybe I could resolve by contributing to the project, and was disheartened to see people posting impatient messages. This is open source software, and most people have actual lives that take priority over these types of projects (and frankly, your use of them as well). If you're unhappy with the wait, learn to code and contribute! Otherwise, be grateful to the creator

[2018-04-23 03:17] Smitty010 opened #66 "Bad permissions on some files"
Not sure what this one is about.  I download a class.  It downloads fine (no errors).  Then I copy the directory with the class files in it to a different drive.  On a small percentage of the files I get an error message saying that administrator rights are needed to do the copy.  I click continue (since I'm the administrator of my machine) and then I get an unable to copy message.  Looking at the

[2018-04-24 08:29] duale1994 commented on #59
Yes Bro FaisalUmair I have that same Problem and i have problem downloading the courses, it's too slow it takes to long to start the downloading  please fix it as soon as possible bro
Thanks
Sincerely

[2018-04-26 04:27] Smitty010 opened #67 "Feature enhancement"
It would be nice if there was somewhere (maybe at the top) where it shows the number of courses completed, currently downloading, and where an error occurred..

[2018-04-26 10:59] ertandag opened #68 "Not Downloading"
It says Building Course Data. Not download.

[2018-04-26 13:01] Gauthamkan commented on #68
Hi Faisal,

I am using the latest 1.4 version and since morning it shows Building course Data and there is no progress after that.

Could you please help us resolve this issue. ASAP.

Thanks in Advance.

[2018-04-26 13:08] saprogramming34 commented on #68
I have the same problem @FaisalUmair

[2018-04-26 13:54] lukino999 commented on #68
I downloaded this app yesterday and it was working fine.
I did try it today it is stuck on Building Course Data.
Thanks

[2018-04-26 14:29] trank2012 commented on #68
Confirm. Not downloading

[2018-04-26 14:30] kathstenby commented on #68
I am experiencing the same issue.  Something changed on the Udemy side yesterday(04/25) morning.  While performing a download on a class the download stopped and was stuck at 23%.  Now when I click a class to download its stuck on Building Course Data.   I hope this information helps.  Thanks

[2018-04-26 17:12] FaisalUmair commented on #68
Thank you all for reporting this.

I will look into this and push an update as soon as possible.

[2018-04-26 17:16] FaisalUmair commented on #67
I will consider this for future release.

Thanks!

[2018-04-26 21:46] ohmartins opened #69 "Subtitle"
How can we download subtitle of the videos?

[2018-04-27 13:43] George-01 commented on #68
Hi Faisal,
I have tried downloading my courses several times today, i keep getting 'Building course data'. Nothing else. Kindly help to resolve this. Regards.

[2018-04-27 20:08] FaisalUmair commented on #68
@George-01 , Please read my comment above (I have updated it)

[2018-04-27 20:13] alxRlja commented on #68
Thank you for your efforts @FaisalUmair . I hope it will be ready soon. I have to travel  and I'll love to be able to study on the plane.   :-)

[2018-04-28 00:24] frankremmy opened #70 "Proposal to Create a privacy policy for this project"
Hello, I found your project quite amazing. I want to contribute by providing a privacy policy for this project. The question is will you review and merge it to your repository when it is done? If so, tell me so I can get started as soon as possible. Thanks

[2018-04-28 01:35] George-01 commented on #68
Hello again Faisal,good work. I have the latest update installed, i keep getting 'Building course data'. Nothing else. Kindly help to resolve this. Regards.

[2018-04-28 06:09] FaisalUmair commented on #68
@alxRlja I have published the new version. Download the latest version from [here](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest)

[2018-04-28 14:14] George-01 commented on #68
Good work Faisal, work well again. Many thanks.

[2018-04-28 14:34] ElinaldoAmancio commented on #68
Bom dia Faisal!
Voltou a funcionar.
Obrigado por compartilhar.
Um forte abraço, saúde e Paz!

[2018-04-28 15:37] fernandosabrazil commented on #68
you are downloading only the introduction.

[2018-04-28 16:22] fernandosabrazil opened #71 "The program is downloading only the introduction"
![1](https://user-images.githubusercontent.com/38814745/39398649-21e27ca4-4ae7-11e8-9ba1-f30329e22f7e.PNG)
![2](https://user-images.githubusercontent.com/38814745/39398650-2205cf1a-4ae7-11e8-8f10-048be3aaa417.PNG)

[2018-04-28 22:33] hgabe commented on #60
thanks

[2018-04-29 01:10] apalm1341 opened #72 "needs way faster download speed, way better search function, and a download all enrolled courses button/option"
This app is really cool man and I give you ton of credit. However, you definitely need to make the app be able to download the courses much much faster. Also, you really need to better the search function. A ton of my courses are not showing up when I search them. And it would be really cool if there was a download all my enrolled courses option/button. I am also having trouble downloading many co

[2018-04-29 01:14] apalm1341 commented on #72
can/will u get all this working soon?

[2018-04-29 06:03] FaisalUmair commented on #71
Hi, Please check if you have enabled Download Start/End in the settings, that could be the reason for the program to download only few lectures.

[2018-04-29 07:44] FaisalUmair commented on #72
@apalm1341 Yes I will for sure. These improvements are already on the line. The speed was intentionally brought down by limiting the download threads to 1 and the reason for that was to make downloading more stable than it was at that time. But now I guess  we have other things in place to take care of it and therefore we can try to max out the number of threads again.

If you want to try increasi

[2018-04-29 09:40] FaisalUmair commented on #68
@fernandosabrazil  Please check if you have enabled Download Start/End in the settings, that could be the reason for the program to download only few lectures.

[2018-04-29 13:26] frankremmy commented on #70
Yes. I'll have to communicate with you in other to create a quality privacy policy. Also guidance and what should be added or not. My discord username is Ufrankremmy#2995

[2018-04-29 15:02] apalm1341 commented on #72
when will u get all these issues working that I mentioned? And are/should all enrolled courses be in the app/program?

[2018-04-29 18:42] fernandosabrazil commented on #71
Thank you! It's working correctly.

[2018-04-29 22:46] AbyssDeep opened #73 "Archieved Courses"
What do you think about implementation to show and download Archieved Courses?

[2018-04-29 22:51] apalm1341 commented on #73
I think this would be great. I second this

[2018-04-30 01:55] noph34r opened #74 "suggestion (converting videos)"
can you please add a video converter function?
preferably with h265 codec, for better size, usually i converted them manually using simple bat file (although still using h264 10 bit version for now)

you see, most udemy video are WAY too big
for example, 10 minutes of video sized at 100MB or so, that's why i convert them all
usually i can get 2-3 times size reduction or more in severe cases

thank

[2018-04-30 03:48] apalm1341 opened #75 "search and download speed"
Please make search function better :( and download speed faster :(. And add archive courses download section. When will u have these features fixed/implemented?

[2018-04-30 03:49] apalm1341 opened #76 "not every enrolled course shows up"
not every enrolled course shows up in app/program. Are all enrolled courses supposed to show up in app?

[2018-04-30 03:53] apalm1341 opened #77 "one of courses stops downloading"
the app is only downloading part of my one course and stop/pauses/freezes...making it look like it can't download further

[2018-04-30 07:27] FaisalUmair commented on #72
I cannot say for sure when will I update it, but I am working on the same and have already implemented the search function (which will be available in next release).

[2018-04-30 07:29] FaisalUmair commented on #73
I am not familiar with Archived courses on Udemy. But I will look it up and see if I can do anything about this.

[2018-04-30 07:50] FaisalUmair commented on #74
How much quality do you loose after converting videos. If you don't care much about video quality, you can go for downloading lower quality videos by choosing video quality in settings.

I would love to implement all requested features, but unfortunately due to lack of time I do not get chance to work on all features and I tend to work on features which I feel are much needed.

But as I said I wou

[2018-04-30 07:53] FaisalUmair commented on #75
I have finished my work on search function and it will be available in next release. For download speed and archived courses, I have already commented upon those in separate issues.

[2018-04-30 07:58] FaisalUmair commented on #76
Yes all enrolled courses are supposed to show up in the app. The results returned by Udemy are paginated, so you need to click on 'Load more' button in order to load results from more pages.

If you still don't see any course, please let me know.

[2018-04-30 09:16] noph34r commented on #74
thanks for answer but unfortunately lowest quality means lower resolution which is a no no
since most course i have is programming, who wants to read text with 480p?
what i did usually encode them with lower bitrate (crf 30), there is some quality losses but it's not video for movie anyway so
it's not a "must have" request though, take your time
i'ts already good enough someone make this app

on a

[2018-04-30 15:30] apalm1341 commented on #72
can u comment here when u make the new release ready to be used/downloaded? How will I know when it is ready?

[2018-04-30 16:43] centuryx476 commented on #68
Hello,
I downloaded the updated version and the courses are now downloading perfectly.
Thank you very much...
If I may ask what was the issue you had to resolve ?
Did the website change their API ?
or something else

I am interested to know

Thanks

[2018-04-30 18:33] FaisalUmair commented on #68
@centuryx476 There was a slight change in the response from API. Udemy used to return html source for the video player and within that source we could find video links. But now they have a separate key for the links and therefore I had to follow the new api structure to fix the issue.

Check https://github.com/FaisalUmair/udemy-downloader-gui/commit/5a11279a60202a119becad9b8284d60f1e50b878 for vie

[2018-04-30 19:33] centuryx476 commented on #68
@FaisalUmair
I see now the very SUBTLE changes that udemy did.
Thanks
I think you are one of the first to fix this as others have not addressed this yet.
youtube-dl and some other downloaders are currently not working for udemy.com

but yours is.

So thanks again

[2018-05-01 05:08] frankremmy commented on #70
Or any other platform for communication

[2018-05-03 04:41] saitawngpha commented on #50
Dear, I can't login to my account. Please look at from the link below. How to solve it?

![udemy](https://user-images.githubusercontent.com/9567660/39560254-8c867fcc-4ec2-11e8-9494-5354b06e20d3.png)

[2018-05-03 07:04] FaisalUmair commented on #48
I forgot to update the changelog (Updating it now). Actually it was a critical update to adapt new Udemy api structure as the app was broken.

[2018-05-03 16:37] tofanelli commented on #48
ah.. ok... superb then

And what about the lecture names, instead resetting on each module, leave as is? any idea when?

[2018-05-03 20:56] thetopengineer commented on #46
please i want to download subtitle for courses
and if you can develop your program to **choose download subtitles or videos only** because i download subtitles manual this take along time And Thank you sir i hope to do that soon

[2018-05-03 21:16] apalm1341 commented on #72
r u gonna need more time for newest version of app/program?

[2018-05-04 04:35] p4princea commented on #63
Hi Faisal, I'm also facing the same issue. Can you please tell what should be the syntax for `Udemy Business Name` ?
I have tried passing `https://<company profile>.udemy.com/` and `<company profile>.udemy.com`
The login is successful in both the cases but it stucks at *Loading Courses*.

![image](https://user-images.githubusercontent.com/38970068/39613090-7b17661e-4f82-11e8-95ff-ebee6d424fec.png)

[2018-05-04 06:07] FaisalUmair commented on #72
Yes. I am currently working on separate download tab to manage active downloads. I have already finished working on the search function and subtitles.

Once the download tab is ready, I will push a new release with these 3 features and also some bug fixes which should improve download speeds.

[2018-05-04 06:09] FaisalUmair commented on #46
@thetopengineer I have already implemented this feature in my local version of the repository. It will be included in the next release.

[2018-05-04 06:15] FaisalUmair commented on #48
Yes. After next release.

For next release I am working on three main features.
1. Better search function.
2. Lecture Subtitles
3. Separate download tab.
And also some bug fixes like resume download on expired download links.

I have already finished **1** & **2** and about to complete **3**. I hope the new release makes the app much stable and improves the course download workflow.

[2018-05-04 15:09] Tanishqkat opened #78 "some files are not full download"
first of all i like the app verry verry much i try to download my course is about 5.10 gb the course was full download but the last some files like 30-40 videos are not proper download the files is only 1kb and not play but small courses like 200-300 mb is full and complete download but like 4-5 gb course is not download proper plzz plzz fix it love you bhai

[2018-05-04 16:42] mrozmanith commented on #68
I got the same error with 1.4.1  I switched download settings from 'auto' to 480p and that fixed it.  Will also try 720p

[2018-05-04 16:57] mrozmanith commented on #68
Hmmm.  that worked for about 15 minutes and now not downloading again.  0 bytes/sec.  Are they throttling downloads?

[2018-05-04 19:26] p4princea commented on #63
@FaisalUmair It worked. Thanks. I think this issue can be closed now.

[2018-05-05 05:17] FaisalUmair commented on #68
@mrozmanith  For me it is working fine. What about now? May be it was a temporary glitch.

[2018-05-05 05:25] FaisalUmair commented on #78
Hello @Tanishqkat

I am glad you liked the app.

The issue you mentioned has been reported before and I am working on it. I will publish a new release in couple of days which will include some bug fixes related to downloading courses and that should improve the download stability.

[2018-05-05 05:28] hussylalani opened #79 "The course without download link on the site cannot be downloaded in udeler"
There is a course which do not have download link on the udemy website and i tried downloading the course through the udeler application but its stuck on "building course data". Its stuck on above message since couple of hours. Can udeler download courses which do not have download link on the websites? Your help is appreciated. Thank you.

[2018-05-05 06:05] FaisalUmair commented on #79
Hi @hussylalani  I would need the course link to check whats wrong.

And what version are you on?

[2018-05-05 15:17] tofanelli commented on #48
Amazing features to be added... .

mind if I ask for one?

Let me past the course link and download it, so it will be way easier than fetch all courses to download only one... what you think? =)

[2018-05-05 17:24] ghost opened #80 "[Question] Flatpak version"
Hi,

You are planned create a flatpak version?

[2018-05-05 19:25] FaisalUmair commented on #48
That would be really nice addition. I think someone else had also requested for the same. I think we should integrate it with the search function. So if the user enters course link it will simply download it instead of searching.

And I have finished working on separate downloads tab and I will most probably publish a new release tomorrow. I will see if I can include the course link download featu

[2018-05-06 17:27] FaisalUmair commented on #72
@apalm1341 I have committed all the changes planned for next release. You can try the next version now by cloning the repo and running it from its source. If you are not familiar with such stuff then wait for me to upload the compiled files. I will test the app first for different scenarios on various platforms and then publish the new release.

[2018-05-06 17:32] FaisalUmair commented on #80
Hi @Gandalf888 . Never heard of Flatpak before. I will look it up and see if it is something I can work on.

[2018-05-06 21:41] tofanelli commented on #48
This is amazing!!!

For me, there is only 3 things missing on your app

1- find a course trough a link and download from it
2- not reset lectures numbers on each module
3- move quizzes to a "quizzes"" folders and zip files to a "attached_folder", just like udemy-dl does.... some courses has dozens of zip files, and makes the videos folder so poluted =\

For me, there is any other addition to do =)

[2018-05-06 23:45] apalm1341 commented on #80
flatpak? what is that?

[2018-05-07 00:03] apalm1341 commented on #72
cloning repo and run it from its source? not sure what u mean. upload compiled files? not sure what u mean by any of this. I thought i downloaded your app/program through GitHub before and then just ran a .exe file that let me use udeler app/program but not totally sure. I cant remember what exactly i did.

[2018-05-07 00:43] apalm1341 commented on #72
ya, I'm pretty sure i clicked download zip after clicking clone or download in GitHub. then, i ran exe file which let me use udeler. I assume "upload the compiled files" means u will add .exe file so that I will be able to just run that file like i did before in order to access/use udeler app/program?

[2018-05-07 05:26] Gandalf888 commented on #80
@FaisalUmair @apalm1341

More informations.

https://flatpak.org/
https://en.wikipedia.org/wiki/Flatpak
https://flathub.org/apps
http://docs.flatpak.org/en/latest/

[2018-05-07 07:17] FaisalUmair commented on #72
Never mind @apalm1341 As I mentioned that if you are not familiar with all this, you can wait for me to upload the compiled files. And yes by compiled files I mean the actually software (.exe file) that you can run.

[2018-05-07 17:01] apalm1341 commented on #72
Ok. When will u be uploading compiled files?

[2018-05-07 17:45] FaisalUmair commented on #72
I would have already uploaded the files, but I am facing some issues on windows during testing. On mac, linux everything works as expected.

As soon as I get everything working on windows as well, I will upload the files.

[2018-05-08 14:42] vesper8 commented on #79
I am experiencing the same problem with this course

https://www.udemy.com/hands-on-infrastructure-automation-with-ansible

It looks like something's changed recently.. but the videos are still easy to locate using other chrome extensions so it's probably not too hard to fix

[2018-05-09 01:26] apster906 opened #81 "New release/version soon?"
When will you upload the compiled files to github so people can download the newest version of udeler app? Are you almost done? It has been a while since there has been a new version of udeler.

[2018-05-09 01:29] apster906 opened #82 "Udemy security issue?"
I saw a youtube video recently where someone put in the comments section that udeler app was not letting them download courses because udemy has made there security stronger or something like this. Is this still a problem for people using this app? U know what this is all about?

[2018-05-09 03:26] FaisalUmair commented on #82
I think they might be talking about #68 I published v1.4.1 which fixed this issue.

[2018-05-09 03:36] FaisalUmair commented on #79
@vesper8 Are you facing this issue only with the course you mentioned.?
What version are you on?

[2018-05-09 14:59] apster906 commented on #81
Can u upload the compiled files today since it sounds like everything else is working fine?

[2018-05-09 15:32] FaisalUmair commented on #81
I can upload the Mac and Linux version. But for windows version, it is still not a stable solution it fails in some cases. But I am positive that I will get it working till tomorrow as I am making even progress.

So I can upload all files tomorrow hopefully.

[2018-05-09 17:26] FaisalUmair commented on #81
Mac and Linux versison will only work on their respective operating systems and not on windows.

I will upload windows version tomorrow if I get it working by then.

Actually I think I should upload all versions tomorrow as  most users here are on windows and it will be confusing for them.

[2018-05-09 21:04] mohilles opened #83 "undefined html"
Hi,
Thank you for this nice job!
but there is no a html code after downloading, only **undefined**  word

[2018-05-09 21:54] ashik685 opened #84 "Still search is not working well"
Search is a vital option for your software sir. I think you should fix it first.

[2018-05-09 23:26] mohilles opened #85 "to resolve a html problem"
https://github.com/FaisalUmair/udemy-downloader-gui/blob/f87e8f94c7f40cada7d74ce236864f26e6b8b160/assets/js/app.js#L290

**should be**
[code]

AND

https://github.com/FaisalUmair/udemy-downloader-gui/blob/f87e8f94c7f40cada7d74ce236864f26e6b8b160/assets/js/app.js#L286

**should be**
[code]

[2018-05-09 23:26] #83 closed

[2018-05-10 00:37] apster906 opened #86 "Is udeler app legal?"
Is it legal for all people to use this udeler app?

[2018-05-10 04:47] FaisalUmair commented on #84
Fix for search has already been committed and I will release a new version very soon which will include a proper search function.

[2018-05-10 04:48] FaisalUmair commented on #85
You are looking at a old version of Udeler source code. The current version is v1.4.1

[2018-05-10 18:35] FaisalUmair commented on #81
I have published the new version. Download it from [here](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest)

[2018-05-10 18:36] FaisalUmair commented on #72
I have published the new version. Download it from [here](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest)

[2018-05-10 18:37] FaisalUmair commented on #84
@ashik685  Download [latest](https://github.com/FaisalUmair/udemy-downloader-gui/releases/latest) version of the app. It includes a fix for search option.

[2018-05-10 19:05] vikasnewports commented on #84
search is still not working fine , i think we need to load all courses ?

[2018-05-10 19:50] apster906 commented on #81
It still isnt showing certain courses im searching for

[2018-05-10 19:53] apster906 commented on #81
im using 64 bit newest version for windows

[2018-05-10 23:53] apster906 commented on #77
lol...new release does not fix this. Course I am downloading still stuck at certain point while trying to download whole course. It does not start downloading from the start when I click retry download.

[2018-05-10 23:54] apster906 commented on #77
I even tried deleting last file in last folder and it still stuck/froze while trying to download, not able to download further/anymore

[2018-05-11 00:10] apster906 opened #88 "Download speed seems exactly same on newest version compared to previous version"
Download speed seems exactly same on newest version compared to previous version. Still very slow

[2018-05-11 02:26] apster906 opened #89 "new features?"
I thought newest version of udeler was gonna have more features such as archived courses section and button to download all enrolled courses and button to download all archived courses? R u gonna add all these features (would be awesome) and when?

[2018-05-11 02:41] FaisalUmair commented on #77
Your issue doesn't seem to be related to what I was trying to fix. I think it similar to #79 and has nothing to do with expired downloads. In new version I have fixed the issue with expired download were the user had to manually delete the expired download file.

Now for me to fix this issue, I would need some info from you on what course you are trying to download and at what lecture number the d

[2018-05-11 02:42] FaisalUmair commented on #84
@vikasnewports What issue are you facing with course search? And no you don't need to load all courses.

[2018-05-11 02:43] snagytx opened #90 "Select subtitle language"
Hello,

I see that subtitles were added [Fix search and add support for subtitles](https://github.com/FaisalUmair/udemy-downloader-gui/commit/cf9807e4f75d6de7f3232247ecaed0e22e5e1dd4) but there is no way to select which one to download. To me it seems that it download the first one available in the list.

It would be nice if it would select the one set in the tool? or maybe provide another option.

[2018-05-11 02:44] FaisalUmair commented on #88
What download speed are you getting? For me it is improved from last version and close to what my ISP allows.

[2018-05-11 02:47] FaisalUmair commented on #89
Well I had already mentioned that for new version I am working on:
Separate downloads tab
Support for Subtitles
Better Search function

Support for archived courses and download all courses button will be added in future release. I cannot comment on when exactly though.

[2018-05-11 02:49] FaisalUmair commented on #90
Yes you are right. It only downloads the first subtitle available.

I had already planned for adding the option to chose subtitle. And I will surely add this option in next release.

[2018-05-11 13:16] ashik685 commented on #84
Now need another option , remember me option. So that we don't need to login always

[2018-05-11 13:17] ashik685 commented on #84
Search is working fine :+1:

[2018-05-14 08:11] Tanishqkat opened #92 "course is not full download"
sir i download a course long course 102 hours but the problem is i started download everything is fine but when the download was finish i saw some letcher 50% course was full download but another 50 is not download means video is there but the video size is only 5kb 10 kb only not play
![rth](https://user-images.githubusercontent.com/38776779/39985485-a3419d60-5713-11e8-89be-ee3aed96fd15.PNG)
![h]

[2018-05-16 07:14] Tanishqkat commented on #92
On Wed, 16 May 2018 at 10:39 AM, Faisal Umair <notifications@github.com>
wrote:

Version- 1.5.0

[2018-05-16 07:28] FaisalUmair commented on #92
So did you download the course using v1.50 ? And does this happen with a particular course or with all long duration courses? And did you download it in one interval or multiple intervals by resuming download?

[2018-05-16 17:15] Blast06 opened #94 "Download got stuck"
I im downloading a course and the download got stuck a couple hours ago. The download speed is on 0kb/s and at 56%

Info:
-Im using the version 1.5.0
-I did not pause the download before it got stuck(now i tried to see if it works, but nothing happens).

Also. i was downloading another course, and i paused this one, then i resumed the download but it suddenly "started to download so fast" until 10

[2018-05-18 07:15] #16 closed

[2018-05-18 07:15] #18 closed

[2018-05-18 07:16] FaisalUmair commented on #23
Added this option in v1.5.0

[2018-05-18 07:16] #23 closed

[2018-05-18 07:17] FaisalUmair commented on #24
Closing due to inactivity.

[2018-05-18 07:17] #24 closed

[2018-05-18 07:17] #31 closed

[2018-05-18 07:18] FaisalUmair commented on #34
Search has been fixed in v.1.5.0. You can also type course url in the search and it will search the course.

[2018-05-18 07:18] #34 closed

[2018-05-18 07:18] #35 closed

[2018-05-18 07:18] #36 closed

[2018-05-18 07:18] #37 closed

[2018-05-18 07:19] #42 closed

[2018-05-18 07:19] FaisalUmair commented on #46
Support for downloading subtitles has been added in v1.5.0

[2018-05-18 07:19] #46 closed

[2018-05-18 07:25] FaisalUmair commented on #49
Fixed in v.1.5.0.

[2018-05-18 07:25] #49 closed

[2018-05-18 07:25] #63 closed

[2018-05-18 07:27] FaisalUmair commented on #64
This issue has been taken care of, if you download a course which has been already downloaded. It will  just show Download completed and won't download the course again. In case you want to download the course again you can delete/move the downloaded course and try downloading again.

[2018-05-18 07:27] #64 closed

[2018-05-18 07:29] #86 closed

[2018-05-18 07:29] #85 closed

[2018-05-18 07:29] PradeepKusuma commented on #63
Thank you so much FaisalUmair, it has worked fine for me.

[2018-05-18 07:30] #84 closed

[2018-05-18 07:32] FaisalUmair commented on #81
Closing this issue, as it is unrelated to the archived course and the original issue has been resolved.

[2018-05-18 07:32] #81 closed

[2018-05-18 07:33] FaisalUmair commented on #75
Search has been fixed in v1.5.0

[2018-05-18 07:33] #75 closed

[2018-05-18 07:42] FaisalUmair commented on #70
Hi @frankremmy. You can go ahead and create one on your own. Once it is ready I will review it.

And regarding what should be added. I think the most important part is to mention that the only input the application takes from a user is their username and password and the same is sent to Udemy server for authentication. Any other data that can be accessed after authentication is evident in the app.

[2018-05-18 08:31] frankremmy commented on #70
Got it! It seems you've been really busy these days. I've gotten what I need. I'll just have to get to work, once I'm done, I'll pull request, you review it and then merge if you see it fit.

[2018-05-18 10:03] itsmemac commented on #51
The feature works awesome.

[2018-05-18 12:11] #89 closed

[2018-05-18 12:12] #88 closed

[2018-05-18 12:12] #82 closed

[2018-05-18 12:13] #72 closed

[2018-05-18 12:13] #71 closed

[2018-05-18 12:13] FaisalUmair commented on #69
Added in v1.5.0

[2018-05-18 12:13] #69 closed

[2018-05-18 12:14] #68 closed

[2018-05-18 12:15] FaisalUmair commented on #67
A separate downloads tab is available from v1.5.0 which display the courses being downloaded currently.

[2018-05-18 12:15] #67 closed

[2018-05-18 12:17] FaisalUmair commented on #66
While I was fixing an issue related to expired download links, I found that the downloader I am using is not properly closing the files which are opened while trying to resume download.

I fixed the issue and I think this should also fix the bad permission problem as the files would no longer be held by another program/user/group.

[2018-05-18 12:17] #66 closed

[2018-05-19 02:04] Blast06 commented on #94
The course link is this one: https://www.udemy.com/ionic-crea-apps-para-android-e-ios/ (with this i had the problem where it got stuck at 56%, tomorrow i will try to download the whole course again and i'll let you know.)

That was on v1.5.0

the other problem i mention, was on v1.4.0 with this course: https://www.udemy.com/angular-2-fernando-herrera/

[2018-05-19 12:34] himanshuamodwala opened #95 "Unable to Login"
Was working till morning today, now all of sudden it gives Incorrect Username/Password. Tried changing the password several time but every time got the same above error

[2018-05-19 15:04] omag0 commented on #95
Same problem here.

[2018-05-19 16:05] mohilles commented on #95
+

[2018-05-19 19:06] Bionic31 commented on #95
Same here unable
Please fix it bro

[2018-05-19 22:06] sabsab22 commented on #95
Same problem here.

[2018-05-20 00:49] LauretsDev commented on #95
+1

[2018-05-20 00:50] mahdisky commented on #95
1+

[2018-05-20 01:28] drsh0 commented on #95
+1
Linux appimage

[2018-05-20 05:03] avj2352 commented on #95
+1 Windows 7 (x64) too

[2018-05-20 05:30] Tiancheng-Luo commented on #95
I think the problem is in udemy api

[2018-05-20 05:30] combeysamuel commented on #95
+1

[2018-05-20 06:16] FaisalUmair commented on #95
Thank you all for reporting this. Let me check what is wrong and I will update you shortly.

[2018-05-20 06:55] Bionic31 commented on #95
Thank you sir
Please can we get the version soon enough, cause I need to complete my downloads before this weekend runs off....  Don't have much time on me

[2018-05-20 06:55] Bionic31 commented on #95
Will be glad if done

[2018-05-20 06:58] FaisalUmair commented on #95
@Bionic31 Uploading right now.

[2018-05-20 07:18] FaisalUmair commented on #95
I have published v1.5.1. Let me know if the problem has been resolved.

[2018-05-20 07:36] LauretsDev commented on #95
Resolved in Win 10. Thank you!

[2018-05-20 08:53] rafayet13 commented on #95
Facing Same Problem Since yesterday on my Windows 10.

[2018-05-20 11:11] Bionic31 commented on #95
Thanks is now working bro
But you could've add to remember on it not anytime we want to access it we need input our details every time

[2018-05-20 11:36] Bionic31 commented on #95
Sir am getting error at a point of the download

[2018-05-20 12:13] FaisalUmair commented on #95
What error are you getting? And does this happen for only a particular course?

[2018-05-20 15:08] sureshds7 commented on #95
Thanks Bro It's working

[2018-05-21 00:29] ooamazingoo commented on #95
Hi,not working windows 8.1 Please fix it :)

[2018-05-21 02:01] avj2352 commented on #95
Thanks team ! Issue is now resolved on my laptop (Windows 7) using the latest version 1.5.1

[2018-05-21 04:28] khogen opened #96 "Unable to logon Udeler"
Hello,

I am unable to logon using Udemy credentials. It always keep prompting user name or password is incorrect.

I tried changing the Udemy password but now luck. Is it an issue with Udeler?

[2018-05-21 09:09] FaisalUmair commented on #96
Duplicate of #95

This issue has already been fixed. Download the latest version (v1.5.1 as of now).

[2018-05-21 09:10] Tanishqkat opened #97 "unable to login"
i enter my id and password correct but i dint login in app

[2018-05-21 09:16] FaisalUmair commented on #96
Looks like Udemy has again made some changes. I confirm that login is not working in v1.5.1

I will look into this and release a new version shortly.

[2018-05-21 09:16] FaisalUmair commented on #97
Looks like Udemy has again made some changes. I confirm that login is not working in v1.5.1

I will look into this and release a new version shortly.

[2018-05-21 09:27] rbodziony commented on #97
Can you add option to show dev. Tools?

[2018-05-21 10:13] Bionic31 commented on #95
Have fix it bro
Thanks for the care

[2018-05-21 14:31] AyaskantaIBM opened #98 "Login Issues"
when I entered my email and password first time it worked fine and downloaded with good speed. But after that when again i tried login its showing username/password incorrect. I am entering correct credentials.
can you help me out on this.

[2018-05-21 16:36] avj2352 commented on #98
1.5.1 was working with username and password... but now again showing "Invalid username/password"

[2018-05-22 06:20] Rishik0208 opened #99 "Udemy downloader is not logging me in"
Since last two days i am facing problem with logging into the udeler. Its not logging me in. I checked my udemy password and even changed it to a new one. But udeler is not logging me in even after changing to a new password. I have upgraded to udeler 1.5 also but same issue persist.
Please see if this is issue with udemy downloader.

thanks for this downloader
rishi

[2018-05-22 06:46] FaisalUmair commented on #99
Hi @Rishik0208 I am aware of this issue. Yes it is a problem with this downloader. I am working on it. I actually got it to login but seems block multiple logins. Since this app doesn't remember your login, a user would need to login again and again hence resulting in login issues again.

So I am working on fixing this by adding an feature which will keep user login session alive till the user log

[2018-05-22 07:15] Rishik0208 commented on #99
Thanks a lot. For additional info - When I try to log in the downloader
shows incorrect login id or password.

Regards

On Tue 22 May, 2018 12:16 pm Faisal Umair, <notifications@github.com> wrote:

[2018-05-22 07:19] troyb89 commented on #99
The x64 version was giving me an issue so I tried the x86 and it's working fine. Thanks

[2018-05-22 07:20] Rishik0208 commented on #99
Great then I will try that too..
Thanks

On Tue 22 May, 2018 12:49 pm troyb89, <notifications@github.com> wrote:

[2018-05-22 11:46] nikhil7451 commented on #99
ya the same issue happening with me too, it's not letting me log in

[2018-05-22 12:02] ohmartins commented on #69
Thank you Faisal!

[2018-05-22 12:34] Rishik0208 commented on #99
Thanks @troyb89 the 32 bit version for windows works fine for me. I am
using windows 8.1 pro. No logging issue...
Thanks @FaisalUmair for the downloader, you rock :-)

Rishi Kumar
Research Associate - National Mission on Himalayan Studies
Wildlife Institute of India
Chandrabani,
Dehradun, 248001
Ph- +919871983240/+917060913340

On Tue, May 22, 2018 at 5:16 PM, nikhil7451 <notifications@github.com>

[2018-05-22 12:36] davemacdo commented on #99
Those of us not using Windows can't switch to the 32-bit version. :-)

It's weird that moving to 32-bit would solve the problem, since it's all running in an Electron "web page".

[2018-05-22 13:54] FaisalUmair commented on #99
Switching to 32 bit wont solve the problem. The reason it is working is simply a coincidence that a user has uninstalled the app or Udemy allowing the requests from a particular client after a timeout.

I have fixed this issue and I am uploading a new version (v1.5.2)

[2018-05-22 14:02] troyb89 commented on #99
Sorry, it was just coincidence on my side, it stopped working

[2018-05-22 14:18] Rishik0208 commented on #99
Thanks Faisal for the new version!

Rishi Kumar
Research Associate - National Mission on Himalayan Studies
Wildlife Institute of India
Chandrabani,
Dehradun, 248001
Ph- +919871983240/+917060913340

On Tue, May 22, 2018 at 7:32 PM, troyb89 <notifications@github.com> wrote:

[2018-05-22 15:05] FaisalUmair commented on #98
I have published v1.5.2. Download and let me know if the problem has been resolved.

[2018-05-22 15:06] FaisalUmair commented on #96
I have published v1.5.2 . Download and let me know if the problem has been resolved.

[2018-05-22 15:15] nikhil7451 commented on #99
problem fixed  ,thank you so much buddy able to log in easily now with new version 1.5.2

[2018-05-22 16:30] Tanishqkat commented on #97
sir on your website https://electronjs.org/apps/udeler in have 1.5.1 there
is no new version

On Tue, May 22, 2018 at 8:06 AM, Faisal Umair <notifications@github.com>
wrote:

[2018-05-22 16:35] davemacdo commented on #97
The best place to get the most recent release is here on Github. Go to the Releases page for this repo:

https://github.com/FaisalUmair/udemy-downloader-gui/releases

[2018-05-22 17:19] Tanishqkat commented on #97
On Tue, 22 May 2018 at 10:05 PM, David MacDonald <notifications@github.com>
wrote:

Ya now its work perfect

[2018-05-22 22:22] josephj60 commented on #99
just install v1.5.2 and it logged right in. Thanks for the fix and the great program.

[2018-05-22 23:42] mtin79 commented on #99
Thanks for the quick fix. Amazing app!

[2018-05-23 04:09] khogen commented on #96
Thank you!  V1.5.2 works fine.

On Tue, May 22, 2018 at 11:06 AM, Faisal Umair <notifications@github.com>
wrote:

--
Regards,
Khogen Singh

[2018-05-23 04:19] Rishik0208 commented on #99
Thanks 1.5.2 works fine!

On Wed 23 May, 2018 5:12 am Martin Schubert, <notifications@github.com>
wrote:

[2018-05-23 08:05] gentle89 commented on #99
thanks, it works fine now like a cham.

[2018-05-23 15:59] tofanelli commented on #48
hey @FaisalUmair ... there is no changelog for versions above 1.4.0....  what was fixed / added?

[2018-05-23 16:44] FrederickGIT opened #101 "Subtitles in random languages"
Whenever it downloads subtitles, it seems to pick a random language - English, Spanish or Portuguese, in the same course different videos will have different languages.

I can't use that, and I need subtitles. In English.

[2018-05-24 00:32] ltony2000 commented on #99
the problem seems to be back for me. cannot log in.

[2018-05-24 02:05] avj2352 commented on #98
Thanks Faisal, its working now !!

[2018-05-24 02:28] AyaskantaIBM commented on #98
Thanks Faisal,
This 1.5.2 version is now working fine.
Thanks.

On Tue, May 22, 2018, 8:36 PM Faisal Umair <notifications@github.com> wrote:

[2018-05-24 08:40] FaisalUmair commented on #101
The option to select subtitles will be available in next release. It got delayed by couple of recent login issues.

[2018-05-24 08:46] FaisalUmair commented on #99
@ltony2000 I can't seem to reproduce the issue. It is working fine for me.

Are you able to login on Udemy website? Are you using any proxy or VPN?

[2018-05-24 09:58] raghavgrover opened #102 "Feature to download quiz questions"
Hello,

Thank you very much for this awesome tool. Is there any plan to introduce the feature for downloading the quiz questions from the course?

[2018-05-24 11:14] paulocmarques commented on #99
the problem seems to be back for me too! cannot log in for now (using 1.5.2). I am able to login on Udemy website and i'm not using any proxy or VPN...

[2018-05-24 11:53] raghavgrover opened #103 "Login issue is back"
Udeler was working fine till noon. I just now tried and faced the Incorrect/Username password error.
Using v1.5.2 on Windows 10

[2018-05-24 12:38] spairous commented on #103
Confirm having an issue again now and was able to download correcly courses earlier today!
Using v1.5.2 on Windows 10/7

[2018-05-24 13:22] MaskyS commented on #99
Also experiencing this problem on Ubuntu :/

[2018-05-24 14:54] zakkimughal commented on #103
I confirm it's coming again @FaisalUmair

[2018-05-24 15:31] Labkhand1359 commented on #103
Incorrect username/password error again. version 1.5.2 Mac

[2018-05-24 19:15] guibellotti commented on #103
Same thing... 'Incorrect username/password'. Windows 10

[2018-05-24 19:25] ashik685 commented on #103
Login issue back

[2018-05-24 19:39] RhinojosaDeveloper commented on #103
Same thing... 'Incorrect username/password'. Windows 7-64 bits - Using v1.5.2

[2018-05-24 19:49] FrederickGIT commented on #101
Thanks, I hope it comes out soon enough

[2018-05-24 21:29] Dimensional commented on #103
Udemy seems to be changing things left and right to block downloaders. Is there a chance the user agent string might be the cause of it, that it should be changed?

[2018-05-24 22:39] vladdypwnz commented on #103
Yikes. Seeing the same thing. Looks like I missed a window of opportunity here

[2018-05-25 05:27] ExtivenSulbaran commented on #103
BRO dejo de funcionar el udeler no me inicia sesion :S

[2018-05-25 07:45] FaisalUmair commented on #103
I will fix the issue shortly and publish a new version. I will also add a feature which will remember the user session and use the same every time  a user starts the app. This should take off a lot from the login function and will prevent Udemy servers from getting upset.

[2018-05-25 09:50] neo2311 commented on #103
Hey Faisal share some debugging steps so that we can also contribute to this.

[2018-05-25 11:48] FrederickGIT commented on #103
Not entirely related, but when is the caption selection update going to come out?

Just because if they keep changing login stuff it will keep getting delayed forever, and I fear that if they squash downloaders altogether I'll never be able to get my captions then, if you keep chasing login updates.

[2018-05-25 12:37] FaisalUmair commented on #103
@neo2311 The application runs inside a chromium browser. I disable the dev tools for production version. You can clone the application and enable it. What I am looking for currently is where the login request actually fails and why. You can compare the real udemy website  login request in your web browser and the login request in Udeler.

For now I have managed to fix this, and have also added the

[2018-05-25 13:28] Galibri commented on #103
The login issues is still there.

[2018-05-25 13:31] ashik685 commented on #103
Waiting for new version bro.

[2018-05-25 14:09] FaisalUmair commented on #103
Download v1.5.3 and let me know if the problem has been resolved.

[2018-05-25 14:10] FaisalUmair commented on #99
Download v1.5.3 and let me know if the problem has been resolved.

[2018-05-25 14:10] #98 closed

[2018-05-25 14:10] #97 closed

[2018-05-25 14:10] #96 closed

[2018-05-25 14:11] #95 closed

[2018-05-25 14:29] raghavgrover commented on #103
Thanks Faisal. I see an unexpected behavior after closing the app and starting it. It doesn't show any courses and says "No courses found".

![image](https://user-images.githubusercontent.com/10961623/40549730-d899a85e-6055-11e8-9d1a-7fbcd0d574a9.png)

Downloaded courses which completed do not show the message "Download Complete" after restarting the app.

[2018-05-25 14:33] raghavgrover commented on #103
Tried to resume the partially completed courses from the downloads window and received this error:

![image](https://user-images.githubusercontent.com/10961623/40550033-a3e7a826-6056-11e8-8a4b-410e7268b726.png)

[2018-05-25 14:49] FaisalUmair commented on #103
@raghavgrover Try logging out and login again.  See if it resolves the problem.

I didn't test the windows version but for me on Mac it is working fine.

[2018-05-25 15:21] FaisalUmair commented on #103
Yes the reason why it doesn't show the downloaded ones is because the app populates downloads on app exit. Since you already had logged in with bad session it might have not added the downloads in the download tab and upon closing the app it cleared the downloads.

And yes I am aware of the subtitle issue, it uses a different method to download and therefore is a little different in behaviour the

[2018-05-25 15:31] M1que4s commented on #103
Login error :(
![image](https://user-images.githubusercontent.com/31262466/40552854-f68dc396-600e-11e8-9f55-e200da00dcdc.png)

[2018-05-25 15:35] Galibri commented on #103
It's working fine for me now on Windows 10, x64. App version 1.5.3

[2018-05-25 15:51] M1que4s commented on #103
yes, I already updated the app to version 1.5.3 and the problem was solved :) 👍

[2018-05-25 15:55] raghavgrover commented on #102
@FaisalUmair could you comment on this request?

[2018-05-25 16:22] Dimensional opened #104 "Failed downloads show as both failed and completed"
Using 1.5.3, I was downloading a course, and due to some network issues the download failed. However I got both the Download Complete message and Download Failed message at the same time. I included a small part of the icon for the course to at least give some reference without showing what course I was downloading.

![download failed_questionmark](https://user-images.githubusercontent.com/5027297

[2018-05-25 20:17] 3DNut opened #105 "1.5.3 User Name and Password Incorrect"
I tried to login in with 1.5.3 and got the familiar login issue.

[2018-05-25 23:02] MaskyS commented on #103
Weird, all you did was change the version number (that's what I see through the commit at least) and yet it's working now. Wonder what's causing this issue.

[2018-05-26 05:31] FaisalUmair commented on #103
@MaskyS You are looking at the latest commit only.
Check https://github.com/FaisalUmair/udemy-downloader-gui/commit/cde648ea714fdfae96a0c40276e132ebe6bff7ec and https://github.com/FaisalUmair/udemy-downloader-gui/commit/aadf80c2da2f4cdfe81995e33c0753af74e6703e

And Udemy is probably blocking certain login which do not contain all cookies as to how the request on a normal web browser should contain

[2018-05-26 05:34] FaisalUmair commented on #105
Hello @3DNut Wait for some time and login again. Do not logout if you don't need to. Keep the session active to minimise the number of login requests.

[2018-05-26 05:37] FaisalUmair commented on #104
Hello @Dimensional Thanks for reporting.

Could you please add some more details like when did you start the course download. Was it resumed from its partial completion or you just started a fresh download? And what kind of network error? Was it something with your internet connection or it unexpectedly failed?

If you resumed the download the download link might have been expired and hence the er

[2018-05-26 05:44] FaisalUmair commented on #102
The quizzes are generally interactive and there is not a specific format for them. Downloading quiz questions in plain wouldn't help. As of now the program simply redirects the user to the quiz page on Udemy.

I will still see if I can extract some functionality from Udemy to create a interactive quiz.

[2018-05-26 08:12] 1Busayo commented on #105
i cant login

![cudeapture](https://user-images.githubusercontent.com/35940016/40574114-e405c5dc-60c4-11e8-83cd-1bf19164615b.PNG)

[2018-05-26 13:40] 3DNut commented on #105
I waited 24 hours and same thing. I haven't ever had a successful login in the past 3 revisions.

[2018-05-26 13:45] jimmy8646 commented on #105
Same issue here version:1.5.3

[2018-05-26 13:48] FaisalUmair commented on #105
I am working on a proper/permanent fix for this. I think the login should work fine after that.

[2018-05-26 14:01] caneto commented on #105
Not Work, not login, verision 1.53...

[2018-05-26 14:32] AyaskantaIBM commented on #105
I am again facing same login issues. Could you please help with.

[2018-05-26 16:18] abuvanth commented on #105
same issue

[2018-05-26 16:26] Bionic31 commented on #105
sir looks like the same issue has aroused again

keep us update when it's fixed, please
Thanks

[2018-05-26 16:30] prakass1 commented on #105
@FaisalUmair looks the issue is still there.

Keep us posted on the fix.

Thanks

[2018-05-26 17:03] FaisalUmair commented on #105
Yes @prakass1 I am uploading the new version.

[2018-05-26 17:28] FaisalUmair commented on #105
This issue has been fixed in v1.5.4. Download and provide feedback.

[2018-05-26 17:53] suksin commented on #105
@FaisalUmair Wondering if this works with Single Sign-on Udemy for Business?

[2018-05-26 19:38] lrdeoliveira commented on #105
download error, not low. Login but not download

[2018-05-26 19:47] Dimensional commented on #104
It was a brand new download of a course I didn't have yet. The course was a python course about building an image recognition program. As for the network issues, I can't say for certain what they were, but I've been having slow internet from time to time, and in this case it got slow enough that even while downloading the program who show as downloading at 0KB/s throughout the day, even when downl

[2018-05-26 22:27] Bionic31 commented on #105
thanks for new feature you add

[2018-05-27 04:54] FaisalUmair commented on #105
@suksin Good point. I think it would be safe for us to make `www` dynamic and replace it with business subdomain for login also.

But if anyone here has a business account they can check if the login is working for them. Then we can deal with it accordingly.

[2018-05-27 06:50] FaisalUmair commented on #105
@Bionic31 No, I am a Student.

[2018-05-27 08:46] FaisalUmair commented on #11
@Geo-Locale This issue has been fixed in v1.5.4

[2018-05-27 10:47] lucianene commented on #105
@FaisalUmair thanks dude, you are awesome!

[2018-05-27 10:56] Geo-Locale commented on #11
Thank you Faisal

It is now working again and I appreciate it very much.

[2018-05-27 11:35] Bionic31 commented on #105
do you have any course on angular 6 or 5

[2018-05-27 14:29] 1Busayo commented on #105
Version 1.5.4 is working fine

On Sun, 27 May 2018 at 12:35 PM, Bionic31 <notifications@github.com> wrote:

[2018-05-27 14:32] FaisalUmair commented on #105
@Bionic31 Do you mean if I can suggest any course on AngularJS?

[2018-05-27 14:57] Bionic31 commented on #105
yea one i can download

[2018-05-28 07:37] raghavgrover commented on #102
Thank you! Even if we could get the quiz questions with answers in the plain text under single file, it would be very helpful.

[2018-05-28 09:35] FaisalUmair commented on #77
@apalm1341 @apster906 Do you still face the same problem in v1.5.4?

[2018-05-28 09:38] FaisalUmair commented on #79
@hussylalani  @vesper8  Do you still face the same problem in v1.5.4? If yes, share some details like at what lecture it freezes. Its hard for me to fix without much info and without having access to the same course.

[2018-05-28 16:11] Bionic31 commented on #105
any

[2018-05-28 17:39] tushyachutiya opened #106 "regarding udeler downloding problem"
it is showing no course availabel every time
![image](https://user-images.githubusercontent.com/39707919/40624713-da708ec2-62cb-11e8-810d-ba3b0bdf34f9.png)
 any way thanks for developing this awesome app

[2018-05-28 17:47] FaisalUmair commented on #106
Does this happen only when you search for course? Or it doesn't show any course at all after you login?

[2018-05-28 17:57] tushyachutiya commented on #106
it dosent show any course at all

On Mon, May 28, 2018 at 11:17 PM, Faisal Umair <notifications@github.com>
wrote:

[2018-05-28 18:01] tushyachutiya commented on #106
normal account

On Mon, May 28, 2018 at 11:28 PM, Faisal Umair <notifications@github.com>
wrote:

[2018-05-28 18:02] FaisalUmair commented on #106
When you login do you click on Udemy business? And have you tried to logout and login again?

[2018-05-28 18:05] tushyachutiya commented on #106
no,i havent clicked on udemy business and i also tried log in log out
several times but it always shows no course availabel

On Mon, May 28, 2018 at 11:33 PM, Faisal Umair <notifications@github.com>
wrote:

[2018-05-28 18:10] FaisalUmair commented on #106
Strange looks like there is something wrong with your account probably. I cannot do anything about this as of now because I wont be able to reproduce this from my account. However if you want, you can allow me temporary access to your account to debug this issue.

[2018-05-28 18:11] #105 closed

[2018-05-28 18:12] #103 closed

[2018-05-28 18:13] tushyachutiya commented on #106
yeah ,its totally fine shall i give you my udemy account password???

On Mon, May 28, 2018 at 11:40 PM, Faisal Umair <notifications@github.com>
wrote:

[2018-05-28 18:14] tushyachutiya commented on #106
udemy account - tusharmarathe28079@gmail.com
pass- kal@el123

On Mon, May 28, 2018 at 11:43 PM, Tushar Marathe <
tusharmarathe28079@gmail.com> wrote:

[2018-05-28 18:14] FaisalUmair commented on #106
Yes. You can mail me your Udemy email and Password.

[2018-05-28 18:16] tushyachutiya commented on #106
thanks sir ,for giving me your precious time for solving my problem

On Mon, May 28, 2018 at 11:44 PM, Faisal Umair <notifications@github.com>
wrote:

[2018-05-28 18:27] tushyachutiya commented on #106
oh sorry , i didnt know that , next time i will keep that in mind
thanks

On Mon, May 28, 2018 at 11:50 PM, Faisal Umair <notifications@github.com>
wrote:

[2018-05-28 18:27] FaisalUmair commented on #106
Ok. Closing this issue.

[2018-05-28 18:27] #106 closed

[2018-05-28 18:28] #99 closed

[2018-05-28 20:58] vesper8 commented on #79
I ended up installing https://github.com/r0oth3x49/udemy-dl and that one was already patched so I can't say if yours works now sorry

[2018-05-29 05:38] FaisalUmair commented on #79
@vesper8 No issues. Actually in order for me to fix the issues related to specific courses I need to have access to the course.

I am closing this issue for now.

[2018-05-29 05:38] #79 closed

[2018-05-29 05:40] FaisalUmair commented on #29
The app now maintains a session until the users logs out. So the user doesn't need to login every time.

[2018-05-29 05:40] #29 closed

[2018-05-30 14:25] kh4midov opened #107 "cannot be installed on Linux (Ubuntu)"
HI, I've been trying to install it on Linux but couldn't so far. No error message is being shown, just tries to open and stops.

[2018-05-31 07:51] FaisalUmair commented on #101
Do you mean asking the user to choose available subtile for each lecture like we ask at beginning of download? If yes, don't you think the user will have to watch the course download lecture by lecture as after each lecture it will require input from user?

And yes for now, I have added a label that shows in how many lectures does the subtitle occur. Which will help the user choose the best option

[2018-05-31 14:38] Blast06 opened #108 "Login problem - Says wrong password when is not wrong"
These days i was trying to log into Udeler, but it says my password is wrong, i try with a friend's account and is also doing the same

[2018-05-31 14:40] #108 closed

[2018-05-31 14:40] Blast06 commented on #108
issue close, my bad, that was on v1.5 , i recently saw that the fix is on the new v1.6

[2018-05-31 18:32] FrederickGIT commented on #101
Basically what you said, but only as an optional feature to be used in case of "emergency" should the language selection get the wrong subtitles for whatever reason. Otherwise everything would be left as it currently is.

It was just a suggestion in case something breaks.

[2018-05-31 19:16] itsmemac opened #109 "Blank screen when opened"
Udeler shows blank page when opening but when i end one task in the task manager, its back to normal as shown in the pic below
This issue has been in udeler for long, but last update fixed it, now its back again.
![1](https://user-images.githubusercontent.com/37410297/40803021-072419e6-6535-11e8-9728-ec3f06af734e.JPG)
![2](https://user-images.githubusercontent.com/37410297/40803022-075ea67e-6535-1

[2018-06-01 07:14] FaisalUmair commented on #109
Hi @itsmemac Thanks for reporting.

Why do you have multiple instances of Udeler running? Does it not close properly on quitting?

I am not a windows user. On mac it works fine. I will try to reproduce this on windows and see what's wrong.

[2018-06-01 09:02] cool5785 commented on #92
Faced similar issue with a particular course [https://www.udemy.com/an-entire-mba-in-1-courseaward-winning-business-school-prof/]
It only downloaded some part of it and for other it downloaded HTML file instead of video

[2018-06-01 11:59] asmechergui opened #110 "installation on Linux (debian 8)"
hello,
first of all thank you for this awesome application, I did install it on windows and it works very well but when i tried to install it on linux system it generate this error

npm install =====> npm WARN lifecycle Udeler@1.6.0~postinstall: cannot run in wd %s %s (wd=%s) Udeler@1.6.0 electron-builder install-app-deps /var/www/html/udemy-downloader-gui
moved 1 package in 7.615s

npm start    =

[2018-06-01 17:30] fredyfx opened #111 "You are helping piracy, beleive it or not"
It's a good project, helping people to download videos is great, Udemy already does on the mobile. The problem is piracy. There are a lot of users who enrolls to courses and download the full course without hitting play at any video this kind of users wants right away their money back. Guess what, Udemy returns the money.
I arrived here because one friend is an Instructor at Udemy and he published

[2018-06-02 09:54] FaisalUmair commented on #111
Hello @fredyfx Thanks for you comment.

My view is that if something can be misused that doesn't necessarily mean it is helping or provoking people to misuse it. I made this software to help people download their courses so that they can view it offline. If there are users with evil intentions, I cannot stop them or cannot remove the software. There are better ways to control piracy, stopping the

[2018-06-02 09:54] #111 closed

[2018-06-02 09:56] FaisalUmair commented on #110
Thank you @asmechergui for reporting. I will try to reproduce this on a linux machine and look for a solution.

[2018-06-03 09:17] bouchaibcharioui opened #112 "Wrong Passwor or username"
I don't know why it shows this message "Wrong Passwor or username" even that I wrote it correctly I am sure 100 % that both of username and password are correct , please fix that

[2018-06-03 17:17] FaisalUmair commented on #112
What version are you using. Download the latest version if you are not on v1.6.0.

[2018-06-03 17:41] xenrion opened #113 "Unable to download entire course"
I have enrolled to few of the courses on udemy and came across this tool. Using it I was able to download 2 courses properly. However few of the courses, the downloader fails to download entire course.  Here is image for one of the course

![download-stuck](https://user-images.githubusercontent.com/7323904/40889388-6414565c-6783-11e8-9abd-733de89e94fb.png)

[2018-06-04 10:19] FaisalUmair commented on #113
Hello @xenrion Thanks for reporting. There is another issue which points out the same thing, that the program stops downloading at a particular lecture of a course.

I will look into this, I would have to be enrolled in the same course to reproduce this. But I will see what I can do about this.

Meanwhile, you can try downloading lecture videos only and skip attachments. I think this issue can be

[2018-06-04 13:56] xenrion commented on #113
tried using skip attachments, but problem remains same.

[2018-06-04 16:38] Galibri commented on #103
Issue is back again!

[2018-06-04 21:24] FredThompsonII commented on #113
The same problem with:
Containers 101 (stops on lecture 6)
Brain Boosting: The Complete Brain Training Masterclass (nothing is retrieved.)

[2018-06-04 21:30] FredThompsonII opened #114 "req: manually add course"
Please add ability to specify a starting address for a course and download it, preferably with a CLI call method so a list of courses could be set to download.

The visual selection is nice for recently added courses if there is a relatively short list of courses. It is awkward for large collections of courses.

[2018-06-05 01:04] kh4midov commented on #107
I didn't know that. I am new Linux user. Sorry. Thanks

[2018-06-05 01:04] #107 closed

[2018-06-05 02:59] ashik685 opened #115 "If any video failed to download, whole download Start Failing"
I just check another issue, like any video corrupted or missing.

Then this software stop downloading , never able to skip that video.

Please take a look.

[2018-06-05 03:02] ashik685 commented on #113
I found the issue. If any video missing or corrupted, then it happens

[2018-06-05 07:21] FaisalUmair commented on #103
@Galibri  What version are you using. For me it is working fine on v1.6.0

[2018-06-05 07:52] Galibri commented on #103
@FaisalUmair Thanks for mentioning the latest release. It's working for me now and it's the latest v1.6.0

[2018-06-05 11:34] Bionic31 commented on #113
https://www.udemy.com/bootstrap-4-create-4-real-world-projects-latest-411/

[2018-06-05 11:34] Bionic31 commented on #113
Please who has the course should help me out with it

[2018-06-05 11:49] xenrion commented on #113
This tool is meant to download courses which you have personally purchased/subscribed. Not aimed at sharing courses

[2018-06-05 20:50] abdo2048 opened #116 "Get download links?"
Hello
I want to know if there is a way to show us the download links?
I mean if someone needs to remote upload!

[2018-06-07 05:12] noph34r opened #118 "request and suggestion"
presently there's nothing wrong with udeler but some "critical" update would be better

1. there's no difference between completed download and ongoing download in download tab, which is confusing since i like to move the complete one to another folder (categorizing).
i hope there's new update to MOVE completed one on another folder and tag "complete" in udeler, to prevent redownload. even better

[2018-06-07 07:00] jaeyholic opened #119 "Incorrect Username and Password"
I can't login to udemy again. I think the issue started again

[2018-06-07 07:01] #119 closed

[2018-06-07 07:01] jaeyholic commented on #119
It working again

[2018-06-08 19:14] MarcosDavy commented on #109
Hi Sir. I also have this issue. When I download multiples courses in the background for a while and when I come back, I get that blank screen with edit panel.  About multiples instances in task manager, same three process here every time that I launch the app.

I'm using
Windows 10 Home 1803 64 bits
Intel Core i3-6006U
8GB DDR4

[2018-06-09 01:28] FredThompsonII opened #120 "Non-standard course"
Here's an interesting course: https://www.udemy.com/ancient-art-of-south-arabia-the-himyarite-kingdom-of-yemen/learn/v4/overview

Each slide has a video and 1 or more static images.

Take a look, maybe you can add support for these types of courses.

[2018-06-09 01:33] FredThompsonII opened #121 "Containers 101"
Containers 101 https://www.udemy.com/containers-101/learn/v4/overview

section 2 7. Development Swarm Cluster with Docker Compose V3 doesn't play when viewed in a browser. udeler doesn't download it. However, the link does exist in the received page code.

Hope this helps you improve udeler.

[2018-06-09 01:41] FredThompsonII commented on #121
CSS Tutorials for Beginners https://www.udemy.com/css-tutorials-for-beginners/

This is a similar problem starting with the second slide.

[2018-06-09 01:41] #121 closed

[2018-06-09 08:09] itsmemac commented on #109
Whenever i open udeler, it happens. Rarely it shows the main screen without closing the instances.
95% of the time it shows me a blank screen then i have to close the low resource consuming instance to make it show the login screen. Not a major issue but it would be awesome if its fixed.

[2018-06-09 08:12] itsmemac opened #122 "Feature request : move completed downloads automatically to finished folder"
as the title says, this software would be complete if it had an automatic file mover when the download is complete 100% so currently downloaded files wont be moved accidentally when moving completed to different drive.

[2018-06-09 14:40] blackpanther989 commented on #90
Another suggestion would be to allow the selection of no subtitles as well.

[2018-06-11 14:11] daybson opened #124 "Proxy configuration"
Can't download any course because I can't set a proxy. How can I do that?

[2018-06-11 14:29] asmechergui opened #125 "quiz questions"
Hello all  :)
please i use this application on windows and it works pretty good,
but i have a probleme :(  when it download a quiz it download it like an url ( not the questions ) and to passe it you have to access to udemy and pass it online .. please is there any solution to download all questions to pass it on offline mode ??
thank you very much .

[2018-06-11 15:00] TungBox commented on #125
Hi,
I don't think its possible since the answers are stored on the server side.

[2018-06-11 18:43] GabrielCoetzee opened #126 "Unable to log in. (Udemy for business custom company domain)"
Hi,

I am completely unable to log in. It is probably due to the account being Udemy for business, and on a company domain. "companyx.udemy.com". Is there perhaps a workaround?

I keep getting either "Invalid Username/Password" or "Connection Failiure".

Yes, I am on the latest version. (1.6)

[2018-06-13 18:22] Smitty010 opened #127 "restart still has issues"
downloading of a course occasionally fails.  Having  it retry works fairly well most of the time, but not always.  Here's an example.

On the udemy website, I have a section that looks like this (this is a screen grab from the udemy site):
![image](https://user-images.githubusercontent.com/3760075/41369748-fb812eb2-6f02-11e8-8d24-4c353e13fa4b.png)

Currently, in the download directory, it shows:
!

[2018-06-14 05:27] FaisalUmair commented on #115
Hi @ashik685 Thanks for reporting. I will add a fix for this in next release.

[2018-06-14 05:34] ashik685 commented on #115
Thank you for your quick response. 5+ star for you.

[2018-06-14 05:51] FaisalUmair commented on #118
Hello @noph34r Thanks for the suggestion.

For categorising  ongoing and completed downloads, I think it will be a nice touch but for now you can know if the download is completed if it doesn't have progress bar.  Ongoing downloads will have progress bar showing the percentage of completed download.

Automatic retry is a good suggestion, I was also thinking about the same for next release and I wi

[2018-06-14 05:54] FaisalUmair commented on #120
Thanks for reporting. The course only has 2 sections and both sections contain videos only?

[2018-06-14 05:56] FaisalUmair commented on #122
It is a good suggestion. I will see what I can do.

[2018-06-14 05:57] FaisalUmair commented on #124
Hi @daybson Unfortunately as of now there is no support for proxies. I will try to add proxy support as soon as possible.

[2018-06-14 06:01] FaisalUmair commented on #125
Hello @asmechergui . As @TungBox mentioned, the answers will most likely be stored on server side. However that might not be the case always. I will check how Udemy handles quizzes.

There was another user suggesting that if we could even download questions only that would also work. But I am not sure if that will be useful. What do you think?

[2018-06-14 06:11] FaisalUmair commented on #126
Hello @GabrielCoetzee What do you type in `Udemy Business Name` field?

It should only be the name not entire domain name. For example for `apple.udemy.com`, you have to type `apple` only.

[2018-06-14 06:15] FaisalUmair commented on #127
Hi @Smitty010 Thanks for reporting.

Multiple files look strange to me as well. I never faced such issue. But it might be the case with some specific courses or due to the download failing occasionally and upon retrying the old download runs parallel with the new. I will take a look.

Yeah, I haven't touched the double extension issue yet. May be its time.

For continuous naming scheme, I will see

[2018-06-14 06:15] GabrielCoetzee commented on #126
Hi @FaisalUmair ,

I am only typing in the "company" part in "company,udemy.com" as you indicated.

[2018-06-14 06:31] FaisalUmair commented on #126
Few days ago, I tried creating a trial business account for testing the app against it.

But it appeared to work fine, I don't know if a real working business account is different from that. But I guess it should work for real business account if it works for trial account.

And I also found that Udemy creates two separate account for you, one associated with Udemy business and other with normal U

[2018-06-14 06:43] GabrielCoetzee commented on #126
I did try that too. I`ve also tried a variable of lowercase and uppercase characters in both my username and 'Udemy Business' field in case it is case-sensitive, but also no success.

I think something must be different with my Udemy For Business account then. It is company provided, so I can`t use my credentials to log into normal "www.udemy.com". I have to log in through my browser at "company_n

[2018-06-14 06:45] GabrielCoetzee commented on #126
I`ve also tried both the "x86" and "x64" versions of Udeler, as well as running in elevated mode vs not running in elevated mode. Doesn`t seem to have an effect,

[2018-06-14 07:05] FaisalUmair commented on #126
Yeah, just try to create a normal account. If the normal account doesn't work for you. Then the login is not working for you at all.

Since you mentioned that sometimes you get Connection Failed error, it makes me think it could be connection related issue. Are you using a proxy server?

[2018-06-14 09:48] GabrielCoetzee commented on #126
I can`t create a normal account since the email address is already in use.

No, I`m not using a proxy server.

[2018-06-14 14:09] FaisalUmair commented on #126
Just create a account with another email address, in order to check if the login works for you using normal account.

[2018-06-14 17:42] Smitty010 commented on #127
I'm pretty sure the file issue is that the program ends up with the list of files in a different order when I do a restart.  That particular course required 5 or 6 restarts to get it to fully download.  Some files were downloaded 4 or 5 times.  Unfortunately, some of the files were quite large, so it really slowed the restart.  If you sorted the list of files before you did the downloads, it would

[2018-06-15 05:01] donjordano commented on #126
I have same issue. I can log in with my normal account, but not with my company. Previously worked very well, I even managed to download some courses. Also when I'm with my normal account in the last version 1.6 it not listing the courses I have in my account.

[2018-06-15 05:43] GabrielCoetzee commented on #126
Hi @FaisalUmair - I created a normal udemy account, and I can successfully log in. However, my 'Udemy for Business' account obviously still persists.

Hi @donjordano - Can you please elaborate? Are you saying uninstall the old version and do a clean install of the new version? (I`m on Windows 10)

[2018-06-15 06:14] FaisalUmair commented on #126
Well, I am trying with my business account and it appears to work fine. If I enter correct username and password but incorrect business name, it still logs in but shows no course. But when I login with the same credentials and type correct business name it shows me courses from my business account. If I uncheck/skip Udemy business, it just login in to normal account.

The login function since v1.5

[2018-06-15 07:33] GabrielCoetzee commented on #126
Hi @FaisalUmair,

Yeah there must be something different with my account vs your trial business account then. There is clearly no normal udemy account linked to mine so no login works for me, business or otherwise. Whether I enter company name, no company name, uncheck "Udemy Business?", I`ve never had a successful login.

I completely understand that in order to fix it, you need to reproduce the

[2018-06-16 06:05] FaisalUmair commented on #126
@GabrielCoetzee I understand the issue with sharing credentials. Unfortunately for issues related to Udemy account and specific paid courses, I would obviously need to have access to reproduce.

I will see what else I can do about this.

[2018-06-18 03:11] nikhil7451 opened #128 "unable to log in again same issue"
please fix this Faisal Bhai unable to login incorrect password or email issue

[2018-06-18 07:58] FaisalUmair commented on #128
Appears to work fine for me, what versions are you using? v 1.6.0 is the latest version.

[2018-06-18 08:44] nikhil7451 commented on #128
sorry it's working,  I used an earlier version mistakenly

[2018-06-18 08:45] nikhil7451 commented on #128
thanks for the help

[2018-06-18 08:53] #128 closed

[2018-06-18 08:55] FaisalUmair commented on #127
By restart do you mean restarting the application or download.?

[2018-06-18 16:03] Smitty010 commented on #127
restarting a download.  So, I start a download.  It fails after downloading
part of the class and I get the messsage to press the course again to retry
the download.  I do that.  I dd NOT stop (or restart) the application.
Hope that is clear.

On Mon, Jun 18, 2018 at 2:55 AM Faisal Umair <notifications@github.com>
wrote:

[2018-06-20 06:36] ronayumik opened #129 "Cannot download courses from business Account?"

[2018-06-20 11:38] Arjoni commented on #129
It doesn't seem to work with Business accounts.

[2018-06-20 16:11] FaisalUmair commented on #129
Hi, I am aware of this issue. I had already added support for this in initial releases of Udeler, but since the recent changes in login strategy. It appears that ee have lost this feature.

I have tried to reproduce this issue, but for my business account it seems to work. I created the business account on trial basis to test this feature. Now in order to reproduce and debug this issue, I would ne

[2018-06-20 16:15] FaisalUmair commented on #127
Yes it is clear now. I will see what I can do about this.

Thank you.

[2018-06-21 01:46] dougs007 opened #130 "How to do install this software in ubuntu ?"

[2018-06-21 01:50] dougs007 commented on #130
Hi guys, someone help`s me ?

[2018-06-22 05:55] ronayumik commented on #129
Hmm, what if you tell us what to debug, steps to debug in local? Since it is shared credentials, it feels uncomfortable to share it here 😥

[2018-06-25 01:17] papujarapy commented on #130
firt step
**uname -m**
you console, give permission to execute
**chmod +x Udeler*.appimage**
we only install the application with
**sudo ./Udeler*.appimage**

[2018-06-25 03:09] tiendungitd commented on #129
it worked well in my udemy business acount.

[2018-06-26 23:10] mohilles opened #131 "Can't Download on mac"
I tried to download some courses, but i have an error (Download Failed, Click to retry)
mac os x

[2018-06-27 16:57] Shuunen opened #133 "Donate"
Hi there :)

I tryed to go to your donate page but I have this :

![image](https://user-images.githubusercontent.com/439158/41988298-ef316192-7a3b-11e8-9763-6167b38941a9.png)

Thanks for your software, it's working great 👍

[2018-06-28 23:07] #131 closed

[2018-06-30 15:45] Tunant3 opened #134 "Setting Highest Quality or 1080p on downloads not working as it should"
Hi, using lates 1.6.0 windows x64. Setting downloads to highest quality or 1080p results in all videos downloaded at 720p even though 1080p is available for that particular course (Not available for all courses)

[2018-06-30 16:00] TheFrustratedDeveloper opened #135 "Cancel a download"
Provide a button to cancel a download rightaway

[2018-07-03 08:16] FaisalUmair commented on #133
The Paypal account associated with the link has been closed. I opened a new account.

Try this link. [https://www.paypal.me/UdelerDonate](https://www.paypal.me/UdelerDonate)

Thanks

[2018-07-03 08:18] FaisalUmair commented on #134
Can you link me to any such free course so that I can reproduce this issue.

[2018-07-03 08:18] FaisalUmair commented on #135
By cancel do you mean to it should delete all the downloaded files? Because there is already a pause button which pauses download and keeps the downloaded files.

[2018-07-03 14:45] Tunant3 commented on #134
It's not easy to find a free course with 1080p videos...will try

[2018-07-03 15:10] Tunant3 commented on #134
Hi, found a course with 1080p videos, "The Essentials of Acoustic Guitar Strumming Patterns", [https://www.udemy.com/strumming-mastery/learn/v4/content](url). Setting to highest or 1080p Will result in the correct download of 1080p videos. I can only reproduce the issue on paid courses. On those courses, I could use IDM to download 1080p version but now i get an error, "the server replies you don'

[2018-07-03 23:09] andow7 opened #136 "VERY SLOW"
download speed very slow. i have 1 mega speed

[2018-07-04 10:32] jcortejoso commented on #129
My business account does not seem to work. If I can share some logs or something please let me know.

[2018-07-04 11:31] FaisalUmair commented on #129
@ronayumik You can try to clone the repository and enable developer tools (from index.js file) which will allow you to monitor network requests in Udeler application. You can inspect the login request and let me know the result. I can also suggest some changes then if they work, then thats the fix.

@jcortejoso You can also follow the same steps. There are no logs stored as of now. As I have alrea

[2018-07-04 11:33] FaisalUmair commented on #136
What speed are you getting. And what version are you using?

Similar issue was posted by another user, but I was unable to reproduce on my end. I am getting good speed as per my network.

[2018-07-04 11:35] FaisalUmair commented on #134
Alright. Thanks for reporting.

I will see if I have a paid course which supports 1080p and try to reproduce the issue on those course.

[2018-07-04 18:34] jcortejoso commented on #126
So as far as I could debug I have enabled the devtools in the app. It seems the authentication endpoint in the app is POST `https://www.udemy.com/api-2.0/auth/udemy-auth/login/?fields[user]=access_token`, but in my business page is POST to `https://<business>.udemy.com/join/login-popup/`.

[2018-07-04 18:35] jcortejoso commented on #129
So as far as I could debug I have enabled the devtools in the app. It seems the authentication endpoint in the app is POST https://www.udemy.com/api-2.0/auth/udemy-auth/login/?fields[user]=access_token, but in my business page is POST to https://<business>.udemy.com/join/login-popup/.

[2018-07-04 20:01] gokaygundogan opened #137 "Attachments problem"
Hi, The app is great but isn't downloading attachments. for ex: Downloaded test1.html. I opening it in the browser and I can see "null" message. Please fix with next update! :)

[2018-07-05 03:07] ronayumik commented on #129
OK @FaisalUmair, I'll try and check it, and inform the results.
 @jcortejoso thanks dude I'll try changing the endpoint in app

[2018-07-05 03:30] Tanishqkat opened #138 "speed"
downloading speed is slow

[2018-07-05 07:59] FaisalUmair commented on #126
@jcortejoso  I received your email. Thanks for providing you credentials to debug.

I will explain the difference in endpoints, `https://www.udemy.com/api-2.0/auth/udemy-auth/login/?fields[user]=access_token` is used to authenticate no matter what your account type is.

Now for retrieving the course if we use `https://www.udemy.com/api-2.0/users/me/subscribed-courses?page_size=1` it will try to ge

[2018-07-05 08:00] FaisalUmair commented on #129
@jcortejoso  I received your email. Thanks for providing you credentials to debug.

I will explain the difference in endpoints, `https://www.udemy.com/api-2.0/auth/udemy-auth/login/?fields[user]=access_token` is used to authenticate no matter what your account type is.

Now for retrieving the course if we use `https://www.udemy.com/api-2.0/users/me/subscribed-courses?page_size=1` it will try to ge

[2018-07-05 10:19] Tanishqkat opened #139 "download"
downloading failed again and again

[2018-07-05 10:34] alucasr opened #140 "Queue requests (download one course at a time witouth raising alerts to udemy)"
Hi,
It would be great the app would be able to queue request in order to download just one course at a time.
It would allow to mark several courses and download all of them without alerting udemy (showing too much request on one account)

[2018-07-05 10:37] alucasr opened #141 "Allow multi language (subtitles)"
It would be great the app would allow to download several subtitles (english, spanish,...) for the same course.

[2018-07-05 10:55] alucasr opened #142 "Avoid subtitle dialog when there's just one option"
It would be great to avoid user's action when there's just one subtitle.
It could be an option (maybe save subtitles, or save default subtitles... or even better: allow to indicate several subtitles (I want english, automatic english and spanish, automatic spanish))

[2018-07-06 06:56] jcortejoso commented on #129
@FaisalUmair my fault, I was ussing version 1.4.0. Mine is working 🚀

[2018-07-10 06:39] ronayumik commented on #129
I didn't know that it is just type [bussiness-name] the login field, now it is working beautifully. Thankyou @FaisalUmair

[2018-07-10 06:39] #129 closed

[2018-07-11 06:39] zohaibshabir opened #143 "Downloading Stop"
Downloading stops itself and there is no option to refresh the page for retrying to download again again.

[2018-07-11 06:40] zohaibshabir opened #144 "Segments"
During downloading it should segment the file so that it could get good downloading speed.
Also option to limit downloading speed.

[2018-07-13 16:37] Kevin-CodeCrew commented on #143
Make sure you are clicking the download button (the first button) and not the green 'triangle' button. I clicked triangle button and stopped after first download. Realized my mistake, and now working fine. SO much faster than Udemy's downloader implementation.

[2018-07-13 16:48] zohaibshabir commented on #143
Thanks, But I am pressing the download button. The problem is something else. Retrying time or retrying attempts are not enough to counter this problem. -------- Original Message --------Subject: Re: [FaisalUmair/udemy-downloader-gui] Downloading Stop (#143)From: Kevin Yancy CodeCrew To: FaisalUmair/udemy-downloader-gui CC: zohaibshabir ,Author Make sure you are clicking the download button (the f

[2018-07-14 16:50] TheFrustratedDeveloper commented on #135
yes, it should delete all the files if i press cancel the download

[2018-07-15 22:29] Kevin-CodeCrew commented on #143
Gotcha. Sorry about that. After commenting, I noticed my downloads would also occasionally freeze. I would have to shut down and restart the downloader to resume and eventually got all my classes downloaded. Sorry I was of no help.

[2018-07-16 00:56] zohaibshabir commented on #143
I think you have to put a loop around your downloading code for reattempting and also refresh your code in loop for each turn. -------- Original Message --------Subject: Re: [FaisalUmair/udemy-downloader-gui] Downloading Stop (#143)From: Kevin Yancy CodeCrew To: FaisalUmair/udemy-downloader-gui CC: zohaibshabir ,Author Gotcha. Sorry about that. After commenting, I noticed my downloads would also o

[2018-08-01 23:24] Smitty010 opened #145 "Some classes won't download"
I purchased 5 classes tonight.  2 of them download fine.  The other 3 don't start.  They get stuck on the message "Building Course Data" and never proceed past that.  They don't show up in the download list and they don't create the folder to put the class data in.  I'm using 1.6.1.  Not sure what else I can tell you.

I think I found a free class that duplicates the issue.  GarageBand 101- Learn

[2018-08-01 23:41] noblood commented on #145
I have the same issues. I think there is restrict setting from UDEMY instructor setting that disable for download. Any solutions for this fix?

Thanks,

[2018-08-01 23:50] fearlight commented on #145
I have the same issues.

[2018-08-02 04:22] DragoonHP opened #146 "Download stuck at "Building Course Data""

[2018-08-02 04:43] FaisalUmair commented on #145
Hi @Smitty010 Thanks for reporting the issue. This issue has been reported before as well where some users aren't able to download some courses. The only thing stopping me from fixing this is that I can only reproduce this issue if I have access to those courses.

I see that you have linked me to a free course that has same issue, but it appears to work for me. It downloaded just like other course

[2018-08-02 04:49] FaisalUmair commented on #146
Refer to #145 and please check for duplicate issues before creating one.

[2018-08-02 04:49] #146 closed

[2018-08-02 07:55] lukezona commented on #145
I was having the same problem, now it looks like is working.

Thanks a lot

[2018-08-02 16:12] itsmemac commented on #109
Found a fix for the issue. It was running on my AMD graphics card and i switched to intel graphics using amd control center and the issue is gone. @FaisalUmair Kindly check this.
Still it has the 3 instances but no more blank screen on startup

[2018-08-02 16:41] Smitty010 commented on #145
Looking good on my machine.  I think you fixed it.  Thanks

[2018-08-02 23:47] jairgza opened #150 "Request, allow download sections of a course"
Display and allow download only selected course sections (not full course)

[2018-08-03 07:42] FaisalUmair commented on #109
Hi @itsmemac  Thanks again for reporting.

How about you give latest version a try? I updated some dependencies to latest version in v1.6.1 .  Give it a try and let me know the results. If by any chance you are already using the latest version, please specify which windows version are you using, what architecture (32 bit or 64bit) also what architecture of Udeler.

[2018-08-03 17:26] itsmemac commented on #109
@FaisalUmair using the latest already.
using Windows 10 x64 Home Single Language
Windows 10 build version 1803 (17134.191)
x64 architecture of udeler

[2018-08-04 06:59] FaisalUmair commented on #150
Hi @jairgza

We already have an option to set the download start lecture and download end lecture in the settings? When you say display, do you mean to show the list of lectures and sections to the user so that they can chose which to download?

[2018-08-04 07:00] FaisalUmair commented on #144
It already does that. I am using a third party downloader which download the file in multiple threads.

[2018-08-04 07:01] FaisalUmair commented on #140
Hi, @alucasr Thanks for your suggestion. I will surely consider this.

[2018-08-04 07:06] FaisalUmair commented on #142
Yeah, you are right. We can avoid the user action if only one subtitle is detected. But sometimes some video lectures have proper subtitles and some have auto-generated in that case, the user needs to select the subtitle which is common in most lectures of the course.

[2018-08-04 07:08] FaisalUmair commented on #139
Hi, Download the latest version and try using that. Let me know the results.

[2018-08-04 07:08] FaisalUmair commented on #138
Hi, Download the latest version and try using that. Let me know the results.

[2018-08-04 07:08] FaisalUmair commented on #136
Download the latest version and try using that. Let me know the results.

[2018-08-04 07:10] FaisalUmair commented on #141
Thanks for your suggestion. I will see if we can implement this any time soon.

[2018-08-04 07:11] FaisalUmair commented on #137
Try the latest version and let me know the results.

[2018-08-04 11:59] ArjonBu opened #151 "Udeler shows only 2 courses when starting the application on the second time"
This is what happens:

1. I start the app, login and download courses as expected.
2. I  close the app.
3. I open the app again but it shows only 2 courses.
4. I log out and log in again and it works.

[2018-08-05 06:33] FaisalUmair commented on #151
Thanks for reporting. I just checked and I see that for me it doesn't show all the courses on starting the second time. I recently updated some dependencies, so could be because of that.

I will fix this soon.

[2018-08-05 13:38] andow7 commented on #136
للاسف حتي بعد التحديث بطئ جدا و بيقطع و السرعه 1m

On 4 Aug 2018 9:08 am, Faisal Umair <notifications@github.com> wrote:

Download the latest version and try using that. Let me know the results.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/FaisalUmair/udemy-downloader-gui/issues/136#issuecomment-410429685>, or mute th

[2018-08-05 14:10] FaisalUmair commented on #136
What speed are you getting exactly on Udeler?

[2018-08-06 08:15] alucasr commented on #142
The application, in order to be perfect for me :-D, it should include an option to configure which subtitles you want (in my case, that would be english, automatic english, spanish and automatic spanish), and should allow you to download all your courses without intervenction, one by one (it would not start a course download until it finishes the previous one)
Now I do this manually and it require

[2018-08-06 10:02] dougs007 commented on #130
Ok, thanks guys, I got it. I'll close this issue

[2018-08-06 10:02] #130 closed

[2018-08-07 16:58] thetopengineer opened #152 "Download all courses in my account"
Download all courses in my account by pressing the button

[2018-08-08 19:26] phytondesc opened #153 "Only Five Video Download On My Purchased Course"
I tried different courses for download but cant download after five video.

[2018-08-10 06:55] FaisalUmair commented on #153
What version of Udeler are you using?

[2018-08-10 08:16] phytondesc commented on #153
Latest version , 1.6.2.

I've used it before and downloaded it.

On Fri, Aug 10, 2018 at 9:55 AM, Faisal Umair <notifications@github.com>
wrote:

[2018-08-10 11:04] phytondesc commented on #153
You can see problem in action.
Always find 5 Item every course.
https://youtu.be/NvDS_plMbyI

On Fri, Aug 10, 2018 at 11:16 AM, Burak Çelenk <phyton@gmail.com> wrote:

[2018-08-10 11:13] FaisalUmair commented on #153
Thanks for sharing the video. It made things clear.

You need to turn off 'Enable Download Start/End' in the settings, as per your current settings it will only download 5 lectures. From lecture 2 to lecture 6.

[2018-08-10 11:15] FaisalUmair commented on #152
Sure will consider this for future releases.

Thanks for your suggestion.

[2018-08-10 11:45] phytondesc commented on #153
Sorry,
I miss that options. Its ok now.

Thank you

On Fri, Aug 10, 2018 at 2:13 PM, Faisal Umair <notifications@github.com>
wrote:

[2018-08-11 09:34] 1871vinayak opened #154 "Auto Refresh within"

[2018-08-11 09:35] #154 closed

[2018-08-11 09:38] 1871vinayak opened #155 "Auto Refresh"
The app should auto refresh every 30 sec or 1 min for any new content added to the account.

[2018-08-11 09:54] 1871vinayak opened #156 "New UI"
### Udeler needs a new UI with Amazing new features like:
**1.** Sorting the.
**2.** Viewing all the details about the course.
**3.** Viewing the list of videos & attachments inside the course.
**4.** "Select-able downloads" means an option to select the video or attachment to download or not.
**5.** Option for automatically shutting down the pc as soon as the download gets competed.
**6.** Easily

[2018-08-17 00:02] L0rddarkside commented on #156
Udeler needs to download more faster than now.

[2018-08-19 11:36] FaisalUmair commented on #156
I am focusing on refactoring this application to make it more optimized, scalable and easy to debug.

Once I am done with that, I will start adding new features. I will also try to improve the downloading speeds.

[2018-08-19 11:43] FaisalUmair commented on #155
Well, I think we don't buy new courses that often. Auto-refreshing every 30 seconds would be overkill for just loading new courses. However, adding a button to refresh the application could be considered.

But for now, the user can simply leave the `search field` empty and press `enter`, this will force the application to reload the courses. You also have the options to restart the application, or

[2018-08-24 12:25] PhanPirang opened #157 "Building Course data...."
v 1.6.2 always show Build course data.... It doesn't download the course.

[2018-08-25 01:14] PhanPirang commented on #157
After several hours, it's working now.

[2018-08-25 01:14] #157 closed

[2018-08-26 10:30] mrw0lfe opened #158 "[Question] Is it Okay to use the software?"
Hi,
this might not be the best place to ask this,but i would like to know if there will be any problem with the account while using this software.(not on your part ofc,but on Udemy's part)I bought a course together with a friend of mine in his account(sice we're studying for  the same thing),and so i don't have to login and logout every time i want to change accounts(cause i try to study at least

[2018-08-26 17:51] FaisalUmair commented on #158
Hi @mrw0lfe
I understand your concern. First of all, **I don't take any responsibility for whatever happens with one's account after using this software.**

But if we speak logic here, then what we really are doing with this software is similar to what Udemy website does, when you use it for viewing your courses.

You see, when we login to Udemy all your courses are loaded, which is the same behav

[2018-08-26 19:06] mrw0lfe commented on #158
Thank you for the  fast reply and for the explanation about how the program really works.
I tought the program would do a different method,but since what it really does is the same thing as we do manually, i'd think there won't be any problem with it then.

The android app used to download straight MP4's to the user's device,but now they are starting to encrypt them.

Anyway, thanks for the reply

[2018-08-26 19:06] #158 closed

[2018-09-02 02:41] leo459028 opened #160 "Do not show subtitle on playing mp4 video."
Although it had download the subtitles (*.vtt) ,but it can't show subititles on playing video.
 (Potplayer 64bit    1.7.13963 )

Thanks for your help.

[2018-09-06 15:00] karanmht9 opened #161 "Udeler app is not showing any Courses in Courses tab"
Hi Team,

When i logged into udeler its not showing any courses of mine previously it was showing all enrolled courses in Courses but now its not showing anything.

[2018-09-06 15:03] karanmht9 commented on #76
Hi Team

I am not able to see enrolled courses in udeler app when i logged in mine account previously it was showing.

[2018-09-06 17:27] Szewy commented on #129
@FaisalUmair

I attempt to log in using my udemy business account and there is a message about the incorrect password. Please give me some advise what can I do to log in to your app.

[2018-09-06 19:38] helderlj commented on #161
I'm also having trouble trying to download my courses... I'm using Linux mint 18.3

[2018-09-07 03:59] piedpiper-coder opened #162 "Search for Courses"
Please add a search for course

[2018-09-07 04:06] piedpiper-coder commented on #138
me too  , only 200~500K
version 1.6.2
my network speed is 100M/40M

[2018-09-07 06:51] FaisalUmair commented on #162
Isn't this feature already available?

[2018-09-07 06:53] FaisalUmair commented on #161
@karanmht9 Try logging out of the app and log in again, make sure business account field is unchecked (if you have a normal account)

@helderlj What issue are you facing exactly?

[2018-09-07 06:59] FaisalUmair commented on #138
The issue with speed has been reported before,

This app uses a third party downloader to download courses. I think I have to rewrite the entire download functionality, to fix this issue. I will see what I can do about this.

[2018-09-07 08:57] piedpiper-coder commented on #162
How to search for my course?
a lot of courses in the course list

[2018-09-07 09:03] FaisalUmair commented on #162
There is a search bar at the top. Simply search for your course.

[2018-09-07 18:23] mhmthrmn opened #163 "Some Attachment (Zip,Jpg) File Again and Again Download"
Some couser zip.jpg etc.  file again and again download. I see 2 or 3 course now

[2018-09-09 11:07] FaisalUmair commented on #163
Please explain the issue in detail. Add some references, and procedure to reproduce this issue.

[2018-09-12 00:39] ronaldofas opened #165 "Udeler show's an empty window in linux mint 19"
Hi!

I have downloaded udeler 1.6.2 and installed in linux mint 19. When I run it udeler shows only an empty window like this:
[![udeler_empty.png](https://s19.postimg.cc/5yztqcx3n/udeler_empty.png)](https://postimg.cc/image/snp0pxehb/)
Can someone help me to solve this problem?

Thanks!

[2018-09-13 09:39] FaisalUmair opened #166 "Udeler Web [Comments,Suggestions,Issues]"
Post any comments, suggestions or issues related to [Udeler Web](https://www.udeler.com) here

[2018-09-13 09:58] FaisalUmair commented on #165
Hi,

Can't tell what the issue is by just looking at the screenshot. If you are familiar with nodejs, npm and javascript. You can enable the dev tools to be able to see any errors logged while running this program.

If not familiar, send me an email which you can find from my GitHub profile. I will provide you dev tools enabled Linux version, which can help you see any error logs.

[2018-09-13 20:36] behroozsheikhan commented on #166
how we can download subtitle in udeler web? thanks.

[2018-09-14 10:43] FaisalUmair commented on #166
@behroozsheikhan I will add that option soon. I started with the basic version. I will see if people find it useful then, I will put some more work into it.

[2018-09-14 22:29] santosh-m commented on #129
Hi @FaisalUmair I'm not able to login to my business account through Udeler. But it works fine for my personal account. Could you kindly help ?

I would like to get my understanding right, correct me if I'm wrong. For business Udemy profile we do not have different/new credentials other than the one used for our organisation login. In simpler words I would be using org login credentials to login t

[2018-09-15 06:06] FaisalUmair commented on #129
Hi @santosh-m You are right about the organisation login. It should work.

What version of Udeler are you using?

[2018-09-15 08:32] santosh-m commented on #129
@FaisalUmair I'm using version 1.6.2.

Earlier I was using proxy, so it was saying Connection Failed. When I use normal connection it always says Incorrect Password.

[2018-09-15 08:55] FaisalUmair commented on #129
@santosh-m You are on the latest version already.

As of now, the only way I can reproduce this issue and possibly debug it is if you provide me the login credentials. I know most people are not comfortable with sharing credentials and that too of business or organization account. But it is the only way for me to help you.

If you are comfortable, send me an email (available on my GitHub profile)

[2018-09-15 17:26] b21692965 opened #167 "Window size getting smaller by time when its minimized"

[2018-09-16 06:11] FaisalUmair commented on #167
Please explain the issue in detail. Add some references, and steps to reproduce this issue.

[2018-09-16 20:09] b21692965 commented on #167
![ekran alintisi](https://user-images.githubusercontent.com/32555927/45600433-4b8dff00-ba05-11e8-8230-a10ded9b9c35.PNG) first scene opened it as usual.
![ekran alintisi2](https://user-images.githubusercontent.com/32555927/45600439-5cd70b80-ba05-11e8-9a03-bc143759eb61.PNG) minimized it as it runs in background.
![ekran alintisi3](https://user-images.githubusercontent.com/32555927/45600443-68c2cd80-

[2018-09-17 09:57] mhmthrmn commented on #163
![capture](https://user-images.githubusercontent.com/41746085/45616689-e96ee180-ba78-11e8-82d4-6f1febe3b6e0.PNG)
You can see example. Pdf file 5.1 5.2 same file. Often this problem.

[2018-09-19 14:33] EgyptianM opened #168 "npm ERR! Udeler@1.6.2 build-win: `electron-builder -w`"
Assalamu Alykom

I get this error when I try to build it on Windows 7

`npm ERR! Udeler@1.6.2 build-win: `electron-builder -w`
`

![image](https://user-images.githubusercontent.com/12565380/45759982-6b057180-bc29-11e8-98e4-dec2488a6d23.png)

[2018-09-20 13:02] kinb98 opened #169 "Can't Download"
I started downloading a course yesterday and after some time I paused it and shut down the laptop. When I tried to resume it again today it always give the error message " Download Failed Click To Retry". It has happened 2 times in a row now.

[2018-09-21 10:15] WassimCha opened #170 "Download Course is not working"
The main function of the app is not not working: download courses.

[2018-09-21 11:07] Devel0per95 commented on #170
Working With me.
Maybe Try checking your connection or uninstall and then install the latest program version.

[2018-09-21 19:47] jhavierc commented on #170
I have a coporate account and 4 month ago I could download courses. Now I cant. I analice the source code of github and I found the autenthication error, when the app send the data using post method, the server respons with 401 status error and redirect a new page where you have to confirm the autenticathion using recaptcha.
Can someone enter the application without problems?

[2018-09-22 06:26] FaisalUmair commented on #169
Hi, when you resume download after few hours or a day, chances are that the previous download link has expired and hence the program shows you 'Download Failed' and deleted the old file. When you retry it download the fresh copy.

[2018-09-22 06:29] FaisalUmair commented on #170
@WassimCha @jhavierc What version of Udeler are you using?

@WassimCha Please add more details, its not enough information to know what exactly is going on.

[2018-09-22 06:32] FaisalUmair commented on #163
Thanks for the details. I got your point. I will try to reproduce this issue, and fix it.

[2018-09-22 06:51] EgyptianM commented on #168
Thank you for your reply @FaisalUmair
I installed electron-builder but I had another error

[code]

![image](https://user-images.githubusercontent.com/12565380/45914377-b21b7e80-be44-11e8-9ade-8d88d97c11b5.png)

[2018-09-22 07:17] EgyptianM commented on #168
Updating Node.js solved the issue.
Thank you.

Is it available to run it as a web page?

[2018-09-22 16:08] FaisalUmair commented on #168
Yeah, updating NodeJS was required. And you can't run the exact same application in a normal web browser. But I have a web version which provides download links for downloading specific lectures or the entire course using a third party download manager. Check [Udeler Web](https://www.udeler.com)

[2018-09-22 16:13] EgyptianM commented on #168
Is it on GitHub too or you provide the source code?

في سبت، ٢٢ سبتمبر، ٢٠١٨ ٦:٠٨ م Faisal Umair <notifications@github.com> كتب:

[2018-09-22 16:17] FaisalUmair commented on #168
No, the source code is not available.

[2018-09-23 19:56] dmnogueira commented on #170
I am using version v1.6.2 windows 64 bits. But unfortunately not working it.

[2018-09-24 06:19] FaisalUmair opened #172 "Udeler 2.0 [Feature Requests]"
I am planning to make Udeler 2.0 a big release with a lot of new features and improvements.
I created this thread so that you can suggest features that you would like to see in the upcoming versions. I will be releasing incremental updates in the form of beta until I feel its enough improvement over 1.6.2 and will release 2.0.

Features that will get more likes/upvotes will be given priority.

[2018-09-24 17:56] abhishekdeshkar commented on #172
What about simultaneous downloads ?

[2018-09-25 03:17] kinb98 opened #173 "Web"
Why is udeler web not working ?
Chrome says udeler web refused to connect.

[2018-09-25 17:02] FaisalUmair commented on #173
There was some issue with the server. Check now, it should be working.

[2018-09-25 17:03] FaisalUmair commented on #172
@abhishekdeshkar What do you mean? Don't we already have support for simultaneous downloads?

[2018-09-26 04:49] yesskay commented on #172
Just tried downloading one of my courses. All the videos are named the same "WebHD_720p.mp4" Is there a way to download the video titles as it is with the folder structure?

[2018-09-27 07:07] xparimantme commented on #172
hy thank you for your amazing work, its really help us. in new version why dont you update the selective download features. exmple = in a course have 30 lecture then select the 1,2,3,7,12,17 etc. and download only this videos or files.

thankyou.

[2018-09-27 14:29] alexanndre41 commented on #172
Hi,

Make the 1080p download work :)

Thanks for you work

[2018-09-28 09:16] adrastee opened #174 "Get stuck at Building Course data"
Hi,
Trying to use your GUI tool but i get stuck at "Building Course data", even one our after the start.
Thanks for any help.
Version is Udeler v1.6.2

[2018-09-30 07:07] FaisalUmair commented on #170
@dmnogueira  What is not working for you? Explain.

[2018-09-30 07:10] FaisalUmair commented on #172
@xparimantme Thanks for your suggestion. I am already planning to add a similar feature where you can view the lectures of a course and select those you want to download.

@alexanndre41 What is wrong with 1080p downloads? I guess it is already working?

[2018-09-30 07:11] FaisalUmair commented on #174
Do you face this issue for only a particular course?

[2018-09-30 07:51] FaisalUmair commented on #172
@yesskay The videos that are not set as downloadable by Udemy instructor, are not returned by the server as downloadable media therefore with no name. It is just a video source link meant to play in a video player.

But there is still a way to download such videos with a name. I would have to proxy the video through another server and return it as download content with a proper name. But it won't

[2018-09-30 14:05] doctor-henry commented on #172
Hi.
First of all, Thank you for making this nice tool.

Can you add these features?
- Users' Rating count and average (for each course)
- a button for open course in browser
- Some times Udemy block download (I think because of anti-flood or anti-bot system). Can you implement a trick for bypass this?

When will you launch ver 2.0 ?

[2018-09-30 18:57] rommelsmz opened #175 "Google Account login"
How to log in if my account was opened using Google account login?

[2018-09-30 20:31] mhmthrmn commented on #172
1-) Search course udemy website and udeler not same. Different result. Udeler result a little bad for find.
2-) Maybe can you i click course on udeler and open website in browser

and thanks for all. Sincerely

[2018-10-01 07:13] adrastee commented on #174
Yes, and I figured out, it does not contain any videos, but only text.
So I guess your tool does not handle that.

[2018-10-01 07:13] #174 closed

[2018-10-01 09:02] xparimantme commented on #172
@FaisalUmairt hanks it's really appreciated

[2018-10-02 22:44] NeilCross commented on #175
I had this issue and found a workaround.  Since the app doesn't support google auth, i performed a password reset from udemy's web site and, then I could use my account email with the password I'd just specified.

Now either the google or the username/password combination will work to log me on in the wap, and the un.pass works within udeler.

[2018-10-07 15:12] behroozsheikhan opened #177 "Suggestion: create software like udeler for youtube"
Hi Faisal, thank you for your amazing work, its really help us.
is it possible to create software like udeler for downloading youtube videos?
thanks.

[2018-10-08 14:02] Brahimtgr commented on #172
Udeler do not work for me via a proxy and palo alto filter. it works well if connected directly to internet.
if you could let it works via default proxy system will be great

[2018-10-08 14:38] Brahimtgr commented on #172
I connected through a proxy with udeler version 1.6.2 and see a list of courses and when choose a course to download I was asked to choose the subtitle but after it could not download the courses.

[2018-10-09 07:41] nishanc commented on #177
Have a look at this [project](https://github.com/MrS0m30n3/youtube-dl-gui)

[2018-10-09 20:54] astro-lee-k commented on #172
When starting to download a course, Udeler prompts to select subtitle.

Can we download both the English, and [Auto] English subtitles?

[2018-10-11 03:31] fcrdossantos commented on #172
If it is possible, please try to fix a bug with the special characters in subtitles like for example in Portuguese when they use the word "você" (you) and the legend is "voc" or "coração" (heart) and turns into "corao"

[2018-10-11 03:32] fcrdossantos opened #178 "Special Characters in Subtitles"
There's a bug with the special characters in subtitles like for example in Portuguese when they use the word "você" (you) and the legend is "voc" or "coração" (heart) and turns into "corao"

[2018-10-11 07:55] kalilmvp commented on #124
Hello, good morning.

Just to know, the proxy support has already been added? Thanks!

[2018-10-14 07:28] LordArcadius opened #179 "Very slow download speeds"
![screenshot 19](https://user-images.githubusercontent.com/13603567/46913749-a4bf6300-cfb0-11e8-8788-6523032e3856.png)

I don't know what is the issue but download speeds are really slow even on a 25 Mbps connection. I even tried with VPN so it doesn't seems that my ISP has any issues.

[2018-10-14 11:54] zahinzawad commented on #179
I am having the same issue... very slow downl;ad speed.. and sometimes it fails

[2018-10-15 00:33] kegum commented on #172
Is it possible please to have an option (Checkbox)  in App Preferences to select download location and Open folder option on Downloads Tab. I have attached the picture to show what i mean.

Also thanks for your hard work you have put on this amazing software.
![udemy-preferences](https://user-images.githubusercontent.com/44148002/46924218-05f93c00-d06e-11e8-905a-c2e5d873e8b2.png)

[2018-10-15 12:52] nagodretrem commented on #179
I am having the same issue

[2018-10-15 15:07] dimosz commented on #179
I am having the same issue

[2018-10-17 07:31] Nirose commented on #173
is the login information sent to the server or how does this work?

[2018-10-17 22:54] MagnusDevelopr opened #180 "Download over Proxy"
Actually i am on my college network and the problem keep pursuing actually i am able to login in to the software but not able to download any course.
i am doing all this while i am on my college network which uses proxy...

so please suggest any way to download courses over a proxy network

[2018-10-18 13:55] FaisalUmair commented on #178
Yes, actually we are using a filename sanitation plugin before writing any file on disk. So this sort of issue is expected.

[2018-10-18 13:58] FaisalUmair commented on #179
I am using a third party downloader module. It looks like the issue is with the downloader. I am looking for a solution, I will probably try changing a few settings in the module, if it doesn't work, I would have to completely rewrite the download functionality.

[2018-10-18 14:00] FaisalUmair commented on #177
@behroozsheikhan There is already a lot of work done on GUI for Youtube downloaders. So I guess there is no need to reinvent the wheel.

[2018-10-18 14:01] FaisalUmair commented on #180
I will try to reproduce this issue over a proxy network. If I face the same issue, I will try to fix it.

[2018-10-18 14:02] FaisalUmair commented on #175
@rommelsmz The feature is not yet implemented. For now, follow instructions from @NeilCross

[2018-10-18 14:05] FaisalUmair commented on #173
The login information is indirectly sent to the Udemy server. I am proxying the request through another server, and the reason to do that is chrome is preventing the use of cross-origin request.

[2018-10-18 16:03] Nirose commented on #173
thanks for the explantaion!

-------- Original Message --------
On Oct 18, 2018, 7:51 PM, Faisal Umair wrote:

[2018-10-19 04:11] jlcastrogro commented on #172
Some improvements that I consider are:
-Limit the download speed.
-Minimize Udeler in the notification bar.

[2018-10-19 06:25] vandpurnama opened #181 "[Request Feature] Auto retry Download"
Please add feature auto retry download when failed downloaded

[2018-10-19 23:34] fcrdossantos commented on #178
And there is anything you can do to solve this problem?

[2018-10-20 04:42] manu1222 commented on #126
I'm getting the same issue. Incorrect username/ password. But actually, it's correct.

[2018-10-21 08:15] saimanish1 opened #182 "videos are downloading in 720p even when the quality is to 1080p/highest"
videos don't download in 1080p.

[2018-10-22 08:14] FaisalUmair commented on #182
Thanks for reporting. I will have a look.

[2018-10-24 04:51] NghiaSE commented on #172
Please add Bitcoin Donation to your app/site.

You can use Electrum wallet to control your Bitcoin. Backup your word seed & never worry about losing your Bitcoin to theft or hardware failure

[2018-10-25 03:14] Galibri opened #183 "300+ videos in a course, last 70+ videos problem"
I have a course of over 330+ vidoes and files. It's downloading almost all the videos. But for the last 70+ videos, The files are not encoded in right way to play and they have only few bytes after downloading.

Other courses are fine and working well.

[2018-10-29 00:51] ozkansen commented on #172
Thanx for program
- Limit bandwitch
- Download course pause after delete downloaded cource
- i'm select settings 1080p but downloaded 720p :)
- max simultane course download limit
- Downloaded course check course update new video
- Priority downloading selected course
that's all for now :)

[2018-11-03 04:51] darcostahl commented on #172
que esta version descargue cursos de pago gratuitamente por favor. :D

[2018-11-04 17:07] Pheinte commented on #172
1. make Assignments entire content (quizzes, exercises, ...) downloadable, this would be a great addition!
2. download subtitles in .srt format, instead of .vtt (.vtt subs don't always work properly in some video players)

[2018-11-05 08:29] behroozsheikhan commented on #172
- auto shutdown after download finished

[2018-11-07 04:06] intermediatech commented on #183
Having same issue

[2018-11-08 18:46] andiwinter commented on #183
The content of the files not correctly downloaded is always the same: an authorization error, instead of file data. Maybe you can detect this error and do a retry.

<HTML><HEAD>
<TITLE>401 Authorization Required</TITLE>
</HEAD>
<BODY>
<H1>Authorization Required</H1>
This server could not verify that you
are authorized to access the document you
requested.  Either you supplied the wrong
credentials

[2018-11-08 18:52] andiwinter commented on #183
Sorry, HTML content is automatically formatted, therefore see attached sample
[sample.zip](https://github.com/FaisalUmair/udemy-downloader-gui/files/2563125/sample.zip)

[2018-11-08 21:16] Anamican commented on #172
Thank you for the software.

Is it not possible to let the download be completed and rename the file rather than proxying it through a server? It may be stupid question, but just asking.

[2018-11-09 16:06] spphinslove commented on #182
same issues
I use the linux version

[2018-11-09 16:10] spphinslove commented on #180
I have a shadowsocks proxy,I must use the proxy to watch the video.the download speed very slow

[2018-11-10 06:32] FaisalUmair commented on #183
@Galibri @intermediatech I believe the problem is due to the download links getting expired because of time taken to download the initial lectures.

@andiwinter You are right. As I mentioned the download links get expired, we can detect the error and retry download with fresh links.

[2018-11-10 08:17] Galibri commented on #183
@FaisalUmair I have taken the number of last downloaded video and started with the next one to the last one in a second phase. That works for me.

[2018-11-10 12:29] FaisalUmair commented on #182
While trying to debug, I found that Udemy is responding with 720p file even when the download link for 1080p video is used. So I guess there is nothing I can do about this issue.

If anyone is using some other downloader where 1080p is correctly downloaded, please link it here so that I can check.

[2018-11-10 17:45] FaisalUmair commented on #183
@Galibri Yes, making use of Download Start/ Download End seems to be a workaround for now.

@andiwinter The fact that your internet connection is slow makes my point even stronger. If your connection is slow then obviously it will take time for the downloader to reach the ending lectures of the course, there is a chance that when the downloader starts downloading the last few lectures of the cours

[2018-11-14 11:39] ansonsiva commented on #179
I'm glad to try this new version
my mail:ansonsiva@gmail.com

[2018-11-14 22:53] arogl commented on #179
I am on windows and have curl installed so it can be called globally.

Willing to test if you want.

[2018-11-15 06:29] FaisalUmair commented on #179
@ansonsiva I will be sending you two versions of Udeler, one with curl implementation and another with an alternate third party downloader. Let me know which one works best for you. So that I can decide accordingly which one to release.

@arogl Please share your email id, or contact me on my email address (find it from my github profile)

[2018-11-15 07:15] marionurkadim commented on #172
please add **Indonesian** subtitles to a course downloaded

[2018-11-16 03:16] ansonsiva commented on #179
I'm using MacOS 10.14.1

[2018-11-16 07:49] FaisalUmair commented on #179
@ansonsiva @arogl I have sent you the new two version of Udeler. Now you have three total versions (including the current one) to test and compare. Please let me know which one gives you the best download speed.

[2018-11-16 11:55] ansonsiva commented on #179
I've tried all 3 version. I think the problem might be from the udemy. All three client went to full speed sometime and 10k/s sometime. Also I tried web client, same problem too...

ps:it seems that the command+m shortcut doesn't work.

[2018-11-16 15:21] FaisalUmair commented on #179
@ansonsiva The varying speed is not the issue, it is about what download speed you get on average. If it drops to 10KB/s it should get up pretty quickly. But if it keeps to low speed for a long period even if your bandwidth is much higher, then we have to address the issue.

Most users complaint here about the slow speed, so there must be an issue with the current downloader. What are your thought

[2018-11-16 22:47] arogl commented on #179
@FaisalUmair  I have tested all 3, the slowest was curl, the fastest was rapid.  I did not test the pause/resume but just let them run over a number of downloads.

When downloading all 3 max out my 25M connection, the variability seems to be how quickly they can get the speed back up. As @ansonsiva has suggested, I think it is more a udemy issue, or it could just be the internet. I am testing from

[2018-11-20 03:47] abhishek24488 commented on #162
There is no course is showing up after searching it
![image](https://user-images.githubusercontent.com/4496327/48750419-fab8b200-eca4-11e8-9536-a30129f65ab9.png)

[2018-11-20 20:15] omzi commented on #167
It also does that when I minimize the window

[2018-11-21 11:20] mk29cse commented on #161
I am not sure whether that's a proxy issue, but even I am facing the same issue. I am able to login to business account but under courses there is nothing.

[2018-11-23 01:12] sandeepbaid commented on #172
Where there is only one language it should not ask to select language.

[2018-11-23 01:56] sandeepbaid commented on #172
Language
	1) When there is only one language it should not ask to select language.
	2) Allow user to select his default language in which he wants to download the course, so that he does not have to select language again and again.

Download
	1) When I restart the app, it should automatically start downloading the course which I had previously initiated.
	2) Allow user to select the maximum speed

[2018-11-23 02:01] sandeepbaid commented on #172
## Language
1. When there is only one language it should not ask to select language.
2. Allow user to select his default language in which he wants to download the course, so that he does not have to select language again and again.

## Download
1. When I restart the app, it should automatically start downloading the course which I had previously initiated.
2. Allow user to select the maximum spee

[2018-11-23 02:08] sandeepbaid commented on #172
## Language
1. When there is only one language it should not ask to select language.
2. Allow user to select his default language in which he wants to download the course, so that he does not have to select language again and again.

## Download
1. When I restart the app, it should automatically start downloading the course which I had previously initiated.
2. Allow user to select the maximum spee

[2018-11-23 15:16] gitanbu commented on #63
same issue , i am facing , but course name not listed

[2018-11-23 15:20] gitanbu commented on #162
same issue for me also

[2018-11-23 19:24] izzet58 opened #185 "Stuck at Building course data"
How can i fix this? im using last version (1.6.2) i tried to reinstall

[2018-11-24 03:02] tonyqui opened #186 "Udeler Connection Failed"
Since almost one day udeler does not log anymore to udemy accounts (personal and business).

The only error I have at the moment is "Connection Failed".

[2018-11-26 11:03] ReggaePanda commented on #172
1. Download documents only (with file type selection) will be a nice feature for courses with a lot of PDF's for example. (for example a popOver on download button with an additional button "filtered Download")

2. A second feature could be download video as MP3 for courses where the video is not necessarily

[2018-11-26 16:04] Tb3986 commented on #182
Any news? I want to download on 1080 but is still 720.
Thanks

[2018-11-28 10:14] AlexFyod opened #187 "Segmentation fault (core dumped)"
Ubuntu 18.10, fresh install with updates.
Udeler version: 1.6.2
When trying to launch AppImage, it crashes with a segmentation fault. Version 1.6.1 works fine.

[2018-11-28 17:39] hardiknakrani25 commented on #179
i have 4g network but i get download speed of 10 KB/s

[2018-11-29 09:01] tuxfanou commented on #187
Same problem here on Fedora 29 :
[code]

[2018-11-30 17:35] #153 closed

[2018-11-30 17:35] #173 closed

[2018-12-04 13:15] eyeoftigers commented on #186
we just try today no issues

[2018-12-04 13:17] tonyqui commented on #186
Correct, I think the problem was on server side, it hasn't work just for one week

[2018-12-04 13:17] #186 closed

[2018-12-04 20:43] alucasr commented on #172
It would be great to be able to download all courses one by one.
I have a lot of courses, and I would like to be able to make a backup with just one click.
Now I have to wait each one to finish to start the next one (I don't want to download several of them simultaneusly because that could raise more alerts on udemy...). It requires too much time...

... and very less important: It could be able t

[2018-12-05 14:00] #185 closed

[2018-12-06 13:22] hellboy81 commented on #158
Is this software for downloading payed courses?

[2018-12-06 20:56] mrw0lfe commented on #158
It gives you the ability to download courses you already OWN on your account.Both paid and free courses.If they are on your "library" you can download them.But only those on your account.

[2018-12-09 11:40] hany-mamdoh commented on #162
No Courses Found when login
even when try to search
it only appears for the first time I am loging

[2018-12-09 11:40] hany-mamdoh commented on #162
I tried to log out and log in but no hope

[2018-12-10 05:09] groupflexi opened #189 "Udemy Instructor's request"
Hey there ! I am really happy to see the tool as a student but please try to understand from an instructor's side. I have been an instructor from 4 years and recently found lots of refunds. People actually download the course and refund it. Udemy allows the refund because the videos are not yet viewed. Leaving the privacy talk aside, this creates tons of problems. It takes tons of hours to develop

[2018-12-10 12:35] Nacho-armaniii opened #190 "Download fails before starting"
The download fails even without starting. Are there policies to be added to the network to allow download? If yes, what please?

[2018-12-12 13:34] FaisalUmair commented on #190
There is a chance of your company network dropping the download request. Does Udemy Course downloader show you all the courses from your account, and does the download fails for every course?

If you are trying to create a policy that will allow reading the file from Udemy server, just make sure you allow the requests to
udemy-assets-on-demand.udemy.com

[2018-12-12 13:44] FaisalUmair commented on #189
Hi,

I do understand your concern and I also support your idea that the Users should not download the videos and then ask for a refund.

I like the fact that if the videos are marked as watched then Udemy will not approve refund request and I agree Udeler should also treat the downloaded files as watched since the User is downloading them to their device.

I will try my level best to bring this be

[2018-12-12 13:46] FaisalUmair commented on #187
It is likely an issue with the version of Electron used in the application. I will upgrade to the latest version in the next release.

For now, you can clone the repository and manually try to run it with the latest version of electron.

[2018-12-12 13:47] FaisalUmair commented on #181
Sure. I had already planned this for next release.

[2018-12-12 15:02] groupflexi commented on #189
Hey thanks a lot. Love you ♥️

On Wed 12 Dec, 2018, 7:14 PM Faisal Umair <notifications@github.com wrote:

[2018-12-16 13:36] alucasr commented on #152
I also would like to have this funcionality...
... and it would be great if it allows you to choose how many courses download simultaneously.

[2018-12-16 13:39] alucasr commented on #122
I also would like to have this funcionality
Now I download to final destination, but I will prefer to not use that thist that much. I think it's about to die...
Thank you very much
Kind regards

[2018-12-18 12:44] joseJavierOjeda commented on #135
It would be nice to have a button to cancel and delete all files from a download

[2018-12-19 17:14] akhilpadgilwar opened #192 "not working for UDEMY business"
I have tried with my normal account and I am able to download the videos easily.
It is not working form business account.
the problem is when there is the business account you just have to put your organization group name and there is no need of login and password.
For normal udemy business portal, we enter our business group name then it will open organization window then we enter credentials.

c

[2018-12-21 05:34] gitanbu commented on #192
you can download, enable tick mark on Udemy business , mention companyname.udemy.com

here you have to mention companyname only

[2018-12-21 05:42] akhilpadgilwar commented on #192
Hi Faisal ,

Check above screnshot. I just mentioned as business account and typed
company name according to format. Still it asking me for username and
password .

Thanks and reagards,
Akhil

On Fri, 21 Dec 2018 at 12:34 AM, Anbazhagan <notifications@github.com>
wrote:

--

Thanks and Regards,

*Akhil padgilwar*

Senior System Engineer

*Akhil.padgilwar@gmail.com <Akhil.padgilwar@infosys.com>*

*

[2018-12-21 05:49] akhilpadgilwar commented on #192
On udemy business account this is working fine. But on udeler it is not working fine. what should I do?

[2018-12-21 12:15] aannirajpatel opened #193 "[Suggestion] Use a segment downloading algorithm to further speed up downloads"
I am super new to here, and very new to GitHub. But this is just a suggestion. It would be great to have a segment downloading algorithm (if it isn't already there, that is) to get even faster downloads. Taking inspiration from "download speedup" software like IDM.

[2018-12-21 16:27] aannirajpatel opened #194 "[Bug][Windows] Application window keeps getting smaller upon minimizing and restoring"
The application window keeps getting smaller when I minimize and restore it.
![temp](https://user-images.githubusercontent.com/37667704/50352554-928f1180-056b-11e9-9c14-470a3d831c28.PNG)

[2018-12-22 23:00] gitanbu commented on #192
Try to change password and try again on  udeler

[2018-12-22 23:03] bendriss commented on #172
Hello!

Thank you for the application, really helpful.

It would be great to be able to import cookie, as if someone exports his session cookie with a tool like EditThisCookie Chrome extension, so we can share access with some friends so that they can download without sharing actually login and password.

Thank you anyways!

[2018-12-22 23:07] akhilpadgilwar commented on #192
Hi Faizal,

I have already changed the password and one more thing. There is no
specific password for Udemy business. Once we enter group name or company
name, page will redirect to citi bank page and there I enter user id and
password.

So help me with this .

On Sat, 22 Dec 2018 at 6:00 PM, Anbazhagan <notifications@github.com> wrote:

--

Thanks and Regards,

*Akhil padgilwar*

Senior System En

[2018-12-24 02:44] akhilpadgilwar commented on #192
can you try for a business account? it is citigroup.udemy.com

check whether it will redirect to company page or not.

[2018-12-25 13:10] faridyou commented on #179
Hi,
Thank you for the wonderful job done so far.
I'm interested to test the CURL version, please share with me: faridyou@gmail.com
Regards,
Farid.

[2018-12-26 08:03] SMUsamaShah opened #195 "Duplicate course names conflict"
I am downloading two courses with exact same name but different publishers. One course is completely downloaded and second was not downloading.

I restarted Udeler and started the download again and it started downloading the new course in the previous course directory.

Simplest way I could think of is to append the publisher/instructor name with the course folder. I looked at app.js but unable t

[2018-12-26 18:04] akhilpadgilwar commented on #192
No one is replying

[2018-12-27 11:10] smart-lemon commented on #192
I have no problem with login. Do you have a login password set up?

Most companies have set up SSO sign in instead of passwords.

PS:  you might want to not mention personal information here (your phone number, that you work at a place and are using some other places udemy business account) . Santa has  put you on the naughty list. Happy holidays

[2018-12-27 11:15] smart-lemon commented on #161
Same here. Course list is empty!

[2018-12-27 11:16] smart-lemon commented on #162
Yep this bug still exits.

[2018-12-27 11:35] smart-lemon commented on #161
I debugged it some more and it seems to be an app problem rather than API problem

Authentication with Udemy 2.0 API and getting list works just fine!

[2018-12-27 11:56] smart-lemon commented on #161
Actually i tried previous versions and it had the same issue

so here is an alternative that works really well

python3 udemy-dl.py -u yourbiz@youremail.com -p YerPasswd https://yourbizsite.udemy.com/selected-cour-url/learn/v4/

Sauce:
https://github.com/r0oth3x49/udemy-dl

[2018-12-27 12:00] smart-lemon commented on #162
Refer to my comment on #161

[2018-12-29 19:12] NachumTzan123 opened #196 "[Feature Requests]"
1. allow an option to download the image of the course aw well and put it as the image of the folder. for me it would be way easier do distinguish which course i want because i have quite a few.
2. add a "Finished" section, so in downloads there will be only the currently active downloads so you'll be able to see exactly whats being downloaded right now (or an option to clear finished titles)
3. a

[2018-12-29 19:18] NachumTzan123 commented on #172
1. allow an option to download the image of the course aw well and put it as the image of the folder. for
    me it would be way easier do distinguish which course i want because i have quite a few.
2. add a "Finished" section, so in downloads there will be only the currently active downloads so you'll be
    able to see exactly whats being downloaded right now (or an option to clear finished titl

[2018-12-29 19:18] #196 closed

[2019-01-04 01:08] alucasr opened #197 "How is v2 going?"
Is there a place where we can read about how is it going, what is already incorporated, when do you think v2 will be published....?
I would like to read about new functionalities development...
Kind regards

[2019-01-04 01:11] alucasr commented on #172
How is it going? Have you already add any functionality? When do you think it will be published?
I't would be great to be able to read about the v2 development... like a blog...

[2019-01-05 19:23] KappaLime opened #198 "Download Failed Click to Retry"
Whenever I got this error, I click to retry, and I get the same error.

Right now, I am download a course and after 10 minutes I got this error.

How to fix that?

[2019-01-08 19:20] akhilpadgilwar commented on #192
HI faisal,

Can you please update me on this?

[2019-01-08 19:52] akhilpadgilwar commented on #162
are you able to log in through your business account?

[2019-01-08 20:05] akhilpadgilwar commented on #63
can you help me with this error.

![image](https://user-images.githubusercontent.com/45946251/50855781-d600c280-1356-11e9-8abc-5f8ffd391c5b.png)

[2019-01-08 21:20] akhilpadgilwar commented on #126
Hi Gabriel,

I am facing the exact same issue.
Did you find any other way to download videos from UDEMY?
or are you using chrome extension only?
let me know if you got any solution for this.

Thanks,
Akhil

[2019-01-09 03:07] ramanasai opened #199 "unable to download web page"
there's a course which is named as "CPP C++ Certified Professional Programmer Practice Test"
this course is unable to download i mean that it doesn't build the course data at all and it is the web page and i tried n number of times and i even tried httraker this was also not useful need help

[2019-01-09 16:43] aimneupane commented on #96
i could not login to udeler it always prompt username/password is in correct. as i entered through my own gmail account n same password but it always prompt the same error. plz fix it as im using windows 10 32 bit n version 1.6.2

[2019-01-09 21:49] daniel2014 commented on #172
Hello, I would suggest a Desktop course platform.
- A panel with courses downloaded by category (we can add to a created category)
- List course videos
- Watch classes on a video player
* I'll be bolder *
Practically have a copy of the Udemy functions in the Desktop if platform API allows:
- Questions and Answers
-Instructor Announcements

[2019-01-10 17:40] erickv94 commented on #135
I think the same, it would be nice to have a button to cancel, because Downloads List is full

[2019-01-12 09:30] FinalDes commented on #172
Make it as Progressive Web App (PWA)

[2019-01-12 10:38] noph34r commented on #172
- i hope it includes hiding course (either manually hide or those i've already downloaded)
- tag/categorized course, because there's so many course out there and udeler still shows all of them. udemy itself has already categorized it in shop, so i think it's better to use it as template.
- convert course to h265 or other video codec. as i see sometimes a 10 minutes course is a whopping 400MB. i do

[2019-01-12 11:15] Ghanisen opened #200 "Extension put twice"
Hi,
I am using version 1.6.2.
When there are non-video or html files downloaded, e.g. txt, png, pdf etc., their extensions are put twice e.g. _file.pdf_ will be downloaded as _file.pdf.pdf_

[2019-01-12 14:09] FreeSpirit63 commented on #200
Hi friends, hope your making some donations so he keeps up the great work!!! :-)

[2019-01-17 16:21] purushsri commented on #102
@FaisalUmair  & @raghavgrover  - any update on this thread. can we able to download quiz as plain text?

[2019-01-18 15:47] kartikey1997 commented on #166
Can You add an option to download a list of all courses that we have enrolled
and list of all courses available on udemy with filters.

[2019-01-19 16:20] FDiskas commented on #187
Worked for me after updated dependencies in `package.json`
[code]

[2019-01-23 20:19] SalahAdDin commented on #172
What is the planned release date? :+1: Thank you.

[2019-01-25 04:56] anshuedward opened #202 "unable to login"
i have log in in udemy directly from google - "sign in from google"
i am unable to login in udeler!!
please help

[2019-01-27 14:30] ozkansen commented on #202
try login format :
abc@gmail.com
password

i can login, no problem

[2019-01-28 05:31] Dovahkiin095 opened #203 "unable to run the appimage"

[2019-01-28 09:41] #203 closed

[2019-01-31 06:58] mindwarrior commented on #202
Yes, same problem

[2019-01-31 08:42] victorbai2 opened #204 "I cloned the code and run it via Atom. But the error thrown."
TypeError: Cannot read property 'on' of undefined
    at Object.<anonymous> (C:\Users\sbai\github\git1\index.js:88:5)
    at Module._compile (internal/modules/cjs/loader.js:689:30)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:700:10)
    at Module.load (internal/modules/cjs/loader.js:599:32)
    at tryModuleLoad (internal/modules/cjs/loader.js:538:12)
    at Function.Module

[2019-02-01 08:30] mharyam opened #205 "WEB Version of UDELER shows not secured"
Hello, Udeler is a very good app, but the website keeps showing not secured and keep tellling me not to use it because it is not secured. Any help on this

[2019-02-01 23:54] mha1980vk commented on #166
@kartikey1997 me too

@FaisalUmair  your work is great.

[2019-02-01 23:54] mha1980vk commented on #166
@kartikey1997 me too

@FaisalUmair your work is great.

[2019-02-03 14:49] SirBruno commented on #181
I was gonna suggest this feature as well, nice to see it's already on paper.

[2019-02-11 22:51] itsadrsh commented on #161
Everything works fine with me.
I just wish there was an option to select part of course you want(or do not want) to download.
Thank you.

[2019-02-12 16:18] q1w2e3r4y6u7i8o9p0 opened #207 "Problem in resuming the download"
The problem that I'm facing is that I download it partially say 10% then I pause it and when I resume it, it doesn't proceed and it's not possible for me to download complete course in one go. Kindly suggest a solution.

[2019-02-13 09:37] shehab20089 opened #208 "Login issue"
i cant login it said  incorrect username / passoword even that i am very sure that I typed them correctly

[2019-02-13 18:27] iamguilhermelima commented on #126
Same issue here

[2019-02-13 22:17] akhilpadgilwar commented on #126
He has not solved this issue?

[2019-02-15 10:48] faycal95 opened #209 "Cant connect to organisation account"
Hello,

I've tried to login with my organisation account and it doesnt work

How can i verify with postman if i can login or not ? (step by step)

Thank's

[2019-02-15 14:06] FaisalUmair commented on #192
Hi @akhilpadgilwar I guess your account use OAuth with citigroup to login to udemy.

Are you able to login to Udemy website directly.

And I know I replied very late, but I am not able to work on the issues raised here, due to my busy schedule :( I hope to get some free time soon, to work on a new update and fix majority of issues.

[2019-02-15 14:11] FaisalUmair commented on #126
Hi @akhilpadgilwar No one supplied me with their login credentials to debug the issue. I requested it multiple times. I got one email recently asking if I need the credentials, I replied to it, but got no response.

And your business account seems to use a different login technique than other accounts. (I am not sure about this), but if you can also send me the credentials, I might be able to get